<%- include("btnDeleteAll"); %>
    <%- include("btnValidAll"); %>

    <div style="margin-top: 15px;"></div>
        <style>
            .div-err {
                height: 160px;
                width: 100%;
                overflow: scroll;
                border: black 1px solid;
            }
        </style>

        <div class="div-envio" id="div-envio" hidden>
            <%- include("btnEnvioAllPlanos"); %>
        </div>

        <hr class="py-2" />

        <p id="loading" class="loading" hidden>Procesando...</p>        
        
        <div style="font-size: 10px; float: right; color: blue;" class="exportar" id="exportar" hidden>
            &nbsp;
            <a href="" for=""> <i class="fas fa-file-excel" style="color: green;"></i> <b>Exportar Excel</b> </a>
        </div>
        <div id="num-err" class="num-err" style="font-size: 10px; float: right;">
            <p for="" style="float:right; color: #000;" id="valor_err" class="valor_err"></p>&nbsp;
        </div>
        
        <div id="panel_errores" class="div-err" hidden>

            <%- include("../cargaPlano/tabla-errores"); %>
        </div>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap" id="table-cargar-planos">
                    <thead>
                        <tr
                            class="text-center text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th>Nombre plano</th>
                            <th class="">Nombre IPS</th>
                            <th>Periodo cargado</th>
                            <th>Fecha de carga</th>
                            <th>Validado</th>
                            <th class="text-center" style="border: 1px solid gray">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-center bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" style="border: 1px solid gray">




                        <% for (let index=0; index < arr_files.length; index++){ %>

                            <tr class="text-gray-700 dark:text-gray-400">

                                <td class="px-4 py-3 text-sm">
                                    <%= arr_files[index].nombre_original %>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <strong>
                                        <%= arr_files[index].descripcion_ips %>
                                    </strong>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <p><i class="far fa-clock" style="color: cadetblue;"></i>
                                        <%= arr_files[index].periodo_cargado %>
                                    </p>

                                </td>

                                <td class="px-4 py-3 text-sm">

                                    <%= arr_files[index].fecha_carga %>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <% if (!arr_files[index].validado) { %>
                                        <div>
                                            <p><i class="far fa-times-circle" style="color: red;"></i>
                                                <%= "No" %>
                                            </p>

                                        </div>

                                        <% } else { %>
                                            <p><i class="far fa-check-circle" style="color: green;"></i>
                                                <%= "Si" %>
                                            </p>

                                            <% } %>


                                </td>


                                <td class="px-4 py-3" style="border: 1px solid gray">
                                    <div class="flex items-center space-x-4 text-sm">



                                        <% if (!arr_files[index].validado) { %>

                                            <button title="Validar"
                                                onclick="validarPlano('<%= arr_files[index].nombre_tmp %>','<%= arr_files[index].id_ips %>','<%= index %>')"
                                                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                aria-label="Edit">
                                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                    viewBox="0 0 20 20">
                                                    <i class="fas fa-check" style="color: rgb(6, 192, 15);"></i>
                                                </svg>
                                            </button>

                                            <button title="Eliminar"
                                                onclick="openPopupDelete('/file/delete/<%= arr_files[index].nombre_tmp %>/archivo-bips/?id_ips=<%= arr_files[index].id_ips %>')"
                                                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                aria-label="Delete">
                                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                    viewBox="0 0 20 20">
                                                    <i class="fas fa-trash" style="color: rgb(223, 54, 54);"></i>
                                                </svg>
                                            </button>
                                                
                                                <% if (arr_files[index].en_error) { %>                                                   
                                                    <div style="font-size: 10px; float: right"
                                                        class="<%= index %>" id="<%= index %>">   
                                                        <i class="far fa-times-circle" style="color: red;"></i>                                                   
                                                        <a title="Descargar xlsx" href="<%= arr_files[index].path_error_plano %>" style="color: red;"> Plano con errores <br> <i class="fas fa-file-excel"
                                                                style="color: green;"></i> <b style="color: blue;">Exportar Excel</b> </a>
                                                    </div>

                                                <% }else{ %>
                                                    <div style="font-size: 10px; float: right; color: blue;"
                                                        class="<%= index %>" id="<%= index %>" hidden>                                                        
                                                        <a href="" title="Descargar xlsx" for="" style="color: red;"> Plano con errores <br> <i class="fas fa-file-excel"
                                                                style="color: green;"></i> <b style="color: blue;">Exportar Excel</b> </a>
                                                    </div>

                                                <% } %>

                                            <% }else {%>
                                                <div class="text-center w-full">
                                                    - <i class="far fa-check-circle" style="color: green;"></i> -
                                                </div>
                                                <% } %>

                                    </div>
                                </td>
                            </tr>
                            <% }%>

                    </tbody>
                </table>
            </div>
            <%- include("../../partials/pagination"); %>
        </div>

        <script type="text/javascript">
            getPagination('#table-cargar-planos');

            function validarPlano(nombre_tmp, id_ips, index) {
                $('html, body').animate({
                    scrollTop: 0
                }, 'slow'); //seleccionamos etiquetas,clase o identificador destino, creamos animación hacia top de la página.

                var array_nombre = nombre_tmp.split('_');
                nombre_plano = array_nombre[2];
                const peticion = '/file/validar/' + nombre_tmp + "/archivo-bips/?id_ips=" + id_ips;

                $.ajax({
                    type: 'post',
                    url: peticion,
                    data: [],

                    beforeSend: function (result) {
                        document.getElementById('loading').style.display = 'block';
                        var load = $('.loading');
                        load.html("");
                        var text = load.children();
                        load.html('<small> Validando información para el plano: <b>' +
                            nombre_plano + '</b> Esto puede tomar un tiempo</small>');
                        load.append(text);

                    },

                    success: function (result) {

                        if (result['status'] == 500) { //se presentan errores en la validacion del plano
                            $('#loading').fadeOut('fast');

                            Swal.fire({
                                position: 'top-end',
                                icon: "warning",
                                title: result['msg'],
                                showConfirmButton: false,
                                timer: 3000
                            })
                            $('#panel_errores').attr("hidden", false);

                            $('#plano-err').html(nombre_plano);

                            var str = "";
                            var item = 0;
                            for (let i = 0; i < result["respuesta"].length; i++) {
                                item = item + 1;
                                str = str + '<tr><td>' + item + '</td><td>' + result["respuesta"][i] + '</td></tr>';

                            }
                            $('#developers').html(str);

                        
                            $('#exportar').attr("hidden", false);
                            $('.num-err p').html(" Número de errores : "+result["respuesta"].length);
                            $('#' + index).attr("hidden", false);                            
                            nombre = nombre_plano.split(".");

                            

                            $.ajax({
                                type: 'get',
                                url: '/generar-xlsx-err/' + nombre[0] + '/archivo-bips',
                                contentType: "application/json",
                                dataType: "text",
                                data: {
                                    err: result["respuesta"]
                                },


                                success: function (result) {                                    
                                    //$('#num_errores').html("");  
                                    //alert("enlaces de descarga xlsx OK");                                                                      
                                    $('.exportar a').prop('href', '/descargar-xlsx-errores/' + nombre[0] + '/descarga-errores-xlsx');
                                    $('.' + index + ' a').prop('href', '/descargar-xlsx-errores/' + nombre[0] + '/descarga-errores-xlsx');

                                    //se debe guardar estado de error y el path del archivo xlsx de errores

                                    
                                }

                            })


                        } else {

                            $('#loading').fadeOut('fast');

                            Swal.fire({
                                position: 'top-end',
                                icon: "success",
                                title: result['msg'],
                                showConfirmButton: false,
                                timer: 3000
                            })

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 3000);

                            if (result['habilitar_elim_all'] == false) {


                                $("#elim-all").attr("hidden", true);
                                $("#btn-valid-all").attr("hidden", true);

                            }

                            if (result['habilitar_envio'] == true) {

                                $("#div-envio").attr("hidden", false);
                                $("#btn-cargar").attr("disabled", false);


                            }
                        }

                    }
                });

            }

            $(document).ready(function () {

                var peticion_validacion = "/validacion-carga-envio";
                $.ajax({
                    type: 'get',
                    url: peticion_validacion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (result) {

                        if (result['habilitar_elim_all'] == false) {

                            $("#elim-all").attr("hidden", true);

                        } else {
                            $("#elim-all").attr("hidden", false)
                        }

                        if (result['habilitar_envio'] == false) {

                            $("#div-envio").attr("hidden", true);

                        } else {
                            $("#div-envio").attr("hidden", false);
                            $("#btn-cargar").attr("disabled", false);
                        }

                    }
                });

            });
        </script>