<form id="formPlan">


    <input type="text" name="id_plan" style="display: none;" value="<%= id_plan %>">

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Plan
        </span>
        <textarea name="plan"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
            placeholder="Plan"
            required><%= item.length && item[0].plan? item[0].plan:'' %></textarea>
    </label>


    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Plan general:
        </span>
        <select name="plan_general" id="select_plan"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">

            <% planes_generales.forEach(lista=> { %>
                <% if (lista.estado) { %>
                    <% if (item.length && lista.id_plangeneral==item[0].id_plan_general) { %>

                        <option selected="selected" value="<%= lista.id_plangeneral %>">
                            <%= lista.plan_general %>
                        </option>
                        <% }else{ %>

                            <option value="<%= lista.id_plangeneral %>">
                                <%= lista.plan_general %>
                            </option>
                            <% }} %>



                                <% }); %>
        </select required>
    </label>


    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Linea acción:
        </span>
        <select name="linea_accion" id="select_linea"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    
    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Objetivo:
        </span>
        <select name="objetivo" id="select_objetivo"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Estregia:
        </span>
        <select name="estrategia" id="select_estrategia"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>



    <button hidden id="btnForm" type="submit"></button>
</form>

<script>
    cmbKeys.selectLinea.keyDataIdCompare = '<%= item.length && item[0].id_linea_accion? item[0].id_linea_accion:0 %>';
    cmbKeys.selectObjetivo.keyDataIdCompare = '<%= item.length && item[0].id_linea_accion? item[0].id_linea_accion:0 %>';
    cmbKeys.selectEstrategia.keyDataIdCompare = '<%= item.length && item[0].id_objetivo? item[0].id_objetivo:0 %>';

    const form = document.querySelector("#formPlan");

    form.addEventListener("submit", function (event) {
        // Stop form submission
        event.preventDefault();
        const data = Object.fromEntries(new FormData(form));

        if (data.id_plan != '0') {
            updateAjax('/actualizar-plan', data, reloadContainer)
        } else {
            createdAjax('/persistir-plan', data, reloadContainer)
        }

    });


    $(cmbKeys.selectPlan.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectLinea.url + $(this).val(), cmbKeys.selectLinea);
    });

    $(cmbKeys.selectLinea.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectObjetivo.url + $(this).val(), cmbKeys.selectObjetivo);
    });

    $(cmbKeys.selectObjetivo.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectEstrategia.url + $(this).val(), cmbKeys.selectEstrategia);
    });

    loadCustomSelect(cmbKeys.selectLinea.url + cmbKeys.selectLinea.keyDataIdCompare, cmbKeys.selectLinea);
    loadCustomSelect(cmbKeys.selectObjetivo.url + cmbKeys.selectObjetivo.keyDataIdCompare, cmbKeys.selectObjetivo);
    loadCustomSelect(cmbKeys.selectEstrategia.url + cmbKeys.selectEstrategia.keyDataIdCompare, cmbKeys.selectEstrategia);

</script>