<form id="formEstrategia">


    <input type="text" name="id_estrategia" style="display: none;" value="<%= id_estrategia %>">

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            <%= lista_equivalencias[3].equivalencia_concepto %>:
        </span>
        <textarea name="estrategia"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
            placeholder="<%= lista_equivalencias[3].equivalencia_concepto %>"
            required><%= item.length && item[0].estrategia? item[0].estrategia:'' %></textarea>
    </label>



    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            <%= lista_equivalencias[0].equivalencia_concepto %>:
        </span>
        <select name="plan_general" id="select_plan"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">

            <option value="">Escoge alguna opción ...</option>

            <% planes_generales.forEach(lista=> { %>
                <% if (lista.estado) { %>
                    <% if (item.length && lista.id_plangeneral==item[0].id_plangeneral) { %>

                        <option selected="selected" value="<%= lista.id_plangeneral %>">
                            <%= lista.plan_general %>
                        </option>
                        <% }else{ %>

                            <option value="<%= lista.id_plangeneral %>">
                                <%= lista.plan_general %> 
                            </option>
                            <% }} %>



                                <% }); %>
        </select required>
    </label>


    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            <%= lista_equivalencias[1].equivalencia_concepto %>:
        </span>
        <select name="linea_accion" id="select_linea"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    
    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            <%= lista_equivalencias[2].equivalencia_concepto %>:
        </span>
        <select name="objetivo" id="select_objetivo"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>


    <button hidden id="btnForm" type="submit"></button>
</form>

<script>
    const planGeneralId = '<%= item.length && item[0].id_plangeneral?item[0].id_plangeneral:0 %>';
    const lineaAccionId = '<%= item.length && item[0].id_linea?item[0].id_linea:0 %>'
    cmbKeys.selectLinea.keyDataIdCompare = lineaAccionId;
    cmbKeys.selectObjetivo.keyDataIdCompare = '<%= item.length && item[0].id_objetivo? item[0].id_objetivo:0 %>';
    const form = document.querySelector("#formEstrategia");

    form.addEventListener("submit", function (event) {
        // Stop form submission
        event.preventDefault();
        const data = Object.fromEntries(new FormData(form));

        if(validationForm(data,'id_estrategia')){
            alertValidation();
            return;
        }


        if (data.id_estrategia != '0') {
            updateAjax('/actualizar-estrategia', data, reloadContainer)
        } else {
            createdAjax('/persistir-estrategia', data, reloadContainer)
        }

    });

    $(cmbKeys.selectPlan.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectLinea.url + $(this).val(), cmbKeys.selectLinea);
    });
    $(cmbKeys.selectLinea.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectObjetivo.url + $(this).val(), cmbKeys.selectObjetivo);
    });
    loadCustomSelect(cmbKeys.selectLinea.url + planGeneralId, cmbKeys.selectLinea);
    loadCustomSelect(cmbKeys.selectObjetivo.url + lineaAccionId, cmbKeys.selectObjetivo);

</script>