<form id="formPlanGeneral">


    <input type="text" name="id_plan" style="display: none;" value="<%= id_plan %>">

      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Nombre del plan General:
        </span>
        <input  name="nombre_plan" value="<%= item.length && item[0].plan_general? item[0].plan_general:'' %>"  class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" placeholder="Nombre plan"  required>
      </label>

      
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Fecha inicial
        </span>
        <input  type="date" name="fecha_inicial" value="<%= item.length && item[0].fecha_inicial? item[0].fecha_inicial : '' %>"  class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" min="2018-01-01" max="2099-12-31" required>
      </label>


      
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Fecha Final
        </span>
        <input type="date"   name="fecha_fin" value="<%= item.length && item[0].fecha_final? item[0].fecha_final: '' %>"  class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" min="2018-01-01" max="2099-12-31" required>
      </label>
      <br/>

      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Meta Númerica:
        </span>
        <input name="meta" value="<%= item.length && item[0].meta? item[0].meta:'0' %>"
            type="number"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
            placeholder="Meta">
    </label>

      <% if (item.length && item[0].estado) { %>
        <label class="flex items-center dark:text-gray-400">
            <input type="checkbox" name="activo"  checked class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <span class="ml-2">
                Activo
            </span>
          </label>
        <% } else { %>
            <label class="flex items-center dark:text-gray-400">
                <input type="checkbox" name="activo" class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                <span class="ml-2">
                    Activo
                </span>
              </label>
            <% } %>



    <button hidden id="btnForm" type="submit"></button>
</form>

<script>
const form = document.querySelector("#formPlanGeneral");

form.addEventListener("submit", function (event) {
	// Stop form submission
	event.preventDefault();
    const data=Object.fromEntries(new FormData(form));
    data.activo? data.activo=true: data.activo=false;
    if(data.id_plan!='0'){
        updateAjax('/actualizar-plan-general',data,reloadContainer)
    }else{
        createdAjax('/persistir-plan-general',data,reloadContainer)
    }

});

</script>