<form id="formRegistroIndicador">

    <input type="text" name="id_reg_indicador" style="display: none;" value="<%= id_reg_indicador %>">
    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Indicador:
        </span>

        <select name="select_indicador" id="select_indicador"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option selected="selected" value="">Seleccionar Indicador</option>
            <% listaIndicadores.forEach(lista=> { %>

                <% if (item.length && item[0].id_indicador==lista.id_indicador) { %>
                    <option selected="selected" value="<%= lista.id_indicador %>">
                        <%= lista.nombre_indicador %>
                    </option>
                    <% } else{ %>
                        <option value="<%= lista.id_indicador %>">
                            <%= lista.nombre_indicador %>
                        </option>
                        <% } %>
                            <% }); %>
        </select required>
    </label>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Vigencia:
        </span>
        <select name="select_vigencia" id="select_vigencia"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Periodo:
        </span>
        <select name="select_periodo" id="select_periodo"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">

        </select required>
    </label>

    <div class="" id="contenedor_info_indicador" name="contenedor_info_indicador">
        <div class="col-10">
            <h3 class="text-center col-12" id="titulo_info_indicador">Información del Indicador Seleccionado</h3>
        </div>

        <div class="form-group row" id="info_tipo_meta">
            <label class="col-2 col-form-label" style="font-weight: bold;">
                Tipo Meta: </label>
            <output type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value="">
        </div>
        <label class="col-2 " name="txt_tipo_meta2" id="txt_tipo_meta2" value=""></label>
        <label class="col-2 col-form-label" for="txt_meta_numerica" style="font-weight: bold;">
            Periodo Evaluación: </label>
        <label class="col-2 " name="txt_periodo_evaluacion" id="txt_periodo_evaluacion" value=""></label>


        <div class="container" id="panel_descriptiva">



            <div class="form-group row">
                <label class="col-2 col-form-label" for="txt_meta_descriptiva" style="font-weight: bold;">
                    Meta descriptiva: </label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Meta Descriptiva" name="txt_meta_descriptiva"
                        id="txt_meta_descriptiva" value="">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="txt_fl_descriptiva" style="font-weight: bold;">Descripcion:
                </label>
                <div class="col-10">
                    <input class="form-control" type="text" name="txt_fl_descriptiva" id="txt_fl_descriptiva" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" style="font-weight: bold;">
                    - </label>


                <div class="col-10">
                    <h3 class="text-center col-12" style="font-weight: bold;">Ingreso de Registros.</h3>
                </div>

            </div>

        </div>

        <div class="container" id="panel_numerica" style=" text-align: center;">

            <div class="form-group row">
                <label class="col-2 col-form-label" for="txt_meta_numerica" style="font-weight: bold;">
                    Meta Númerica: </label>
                <input class="col-2 " name="txt_meta_numerica" id="txt_meta_numerica" value="">
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="txt_fl_numerador" style="font-weight: bold;">
                    Numerador: </label>
                <input class="col-2 " name="txt_fl_numerador" id="txt_fl_numerador" value="">
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="txt_fl_denominador" style="font-weight: bold;">
                    Denominador: </label>
                <input class="col-2 " name="txt_fl_denominador" id="txt_fl_denominador" value="">
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" style="font-weight: bold;">
                    - </label>
                <div class="col-10">
                    <h3 class="text-center col-12" style="font-weight: bold;">Ingreso de Registros.</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" style="font-weight: bold;"> Numerador:
                </label>
                <input class="form-control" type="text" placeholder="Ingresar Valor" name="txt_vr_numerador" style="border: 1px solid black;width: 100px;"
                    id="txt_vr_numerador"
                    value="<%= item.length && item[0].formula_cifras_numerador? item[0].formula_cifras_numerador:'' %>">

                <label class="col-2 col-form-label" style="font-weight: bold;"> Denominador:
                </label>
                <input class="form-control" type="text" placeholder="Ingresar Valor" name="txt_vr_denominador" style="border: 1px solid black;width: 100px;"
                    id="txt_vr_denominador"
                    value="<%= item.length && item[0].formula_cifras_denominador? item[0].formula_cifras_denominador:'' %>">
            </div>
        </div>

        <div class="form-group row" id="panel_observacion">
            <label for="txt_observacion" class="col-2 col-form-label" style="font-weight: bold;">
                Observaciones: </label>
            <div class="col-10">

                <textarea class="form-control" type="text" name="txt_observacion" id="txt_observacion"
                    value=""><%= item.length && item[0].observaciones? item[0].observaciones:'' %></textarea>



            </div>
        </div>

        <div class="form-group row" id="panel_soporte">
            <label for="txt_soporte" class="col-2 col-form-label" style="font-weight: bold;">
                Anexar soporte: </label>

            <div class="col-6">
                <input type="file" class="input-file-input form-control" name="files_soporte" id="files_soporte"
                    multiple>
            </div>
        </div>
    </div>


    <button hidden id="btnForm" type="submit"></button>
</form>

<script>
    const form = document.querySelector("#formRegistroIndicador");

    if ("<%= item.length && item[0].tipo_meta? item[0].tipo_meta:'' %>") {
        $('#contenedor_info_indicador').attr('hidden', false);
    } else {
        $('#contenedor_info_indicador').attr('hidden', true);
    }

    form.addEventListener("submit", function (event) {
        // Stop form submission
        event.preventDefault();
        const data= new FormData(form);
        const obj = Object.fromEntries(data);
        console.log(obj)

        if (obj.id_reg_indicador != '0') {
            updateAjax('/actualizar-registro-indicador', data, reloadContainer)
        } else {
            createdAjax('/persistir-registro-indicador', data, reloadContainer)
        }

    });



    function loadVigenciaIndicador(url) {
        $.ajax({
            type: 'get',
            url,
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {
                //select_linea
                $("#select_vigencia").html("");
                $("#select_vigencia").append('<option selected="selected" value="">Seleccionar Vigencia</option>');
                if (result.length == 0) {
                    $("#select_vigencia").html("");
                    $("#select_vigencia").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else if (result) {
                    result.forEach(element => {
                        if (element.periodo_año == '<%= item.length && item[0].periodo_año? item[0].periodo_año:0 %>') {

                            $("#select_vigencia").append('<option value=' + element.periodo_año + ' selected="selected">' + element.periodo_año + '</option>');
         
                        } else {

                            $("#select_vigencia").append('<option value=' + element.periodo_año + '>' + element.periodo_año + '</option>');
                        }
                    });
                }
            }
        });
    }

    function loadPeriodoVigencia(url) {
        $.ajax({
            type: 'get',
            url,
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {

                $("#select_periodo").html("");
                $("#select_periodo").append('<option selected="selected" value="">Seleccionar Periodo</option>');
                if (result.length == 0) {
                    $("#select_periodo").html("");
                    $("#select_periodo").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else if (result) {
                    result.forEach(element => {
                        if (element.id_mes == '<%= item.length && item[0].periodoevaluado? item[0].periodoevaluado:0 %>') {
                            $("#select_periodo").append('<option value=' + element.cod_mes + ' selected="selected">' + element.nombre_mes + '</option>');
                        } else {

                            $("#select_periodo").append('<option value=' + element.cod_mes + '>' + element.nombre_mes + '</option>');
                        }
                    });
                }
            }
        });
    }

    function loadIndicadorxId(url) {
        $.ajax({
            type: 'get',
            url,
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {
                $("#txt_tipo_meta").html("");
                $("#txt_meta_numerica").html("");
                $("#txt_periodo_evaluacion").html("");
                $("#txt_meta_descriptiva").html("");
                $("#txt_fl_descriptiva").html("");
                $("#txt_fl_numerador").html("");
                $("#txt_fl_denominador").html("");

                result.forEach(element => {
                    $("#txt_tipo_meta").append('<output value=' + element.tipo_meta + '>' + element.tipo_meta);
                    $("#txt_meta_numerica").append('<output value=' + element.meta_numerica + '>' + 'Superior al ' + element.meta_numerica + '%');
                    $("#txt_meta_descriptiva").append('<output value=' + element.meta_descriptiva + '>' + element.meta_descriptiva);
                    $("#txt_fl_descriptiva").append('<output value=' + element.formula_literal_descriptiva + '>' + element.formula_literal_descriptiva);
                    $("#txt_fl_numerador").append('<output value=' + element.formula_literal_numerador + '>' + element.formula_literal_numerador);
                    $("#txt_fl_denominador").append('<output value=' + element.formula_literal_denominador + '>' + element.formula_literal_denominador);
                    if (element.periodo_meta_num == 1) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Mensual');
                    }
                    else if (element.periodo_meta_num == 2) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Bimensual');
                    }
                    else if (element.periodo_meta_num == 3) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Trimestral');
                    }
                    else if (element.periodo_meta_num == 4) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Cuatrimestral');
                    }
                    else if (element.periodo_meta_num == 6) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Semestral');
                    }
                    else if (element.periodo_meta_num == 12) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Anual');
                    } else if (element.periodo_meta_num == 0 || element.periodo_meta_num > 12) {
                        alert("No tiene periodo de evaluación configurado, por favor validar el indicador.");
                    } else if (element.periodo_meta_num > 12) {
                        alert("Periodo de evaluacion no valido, por favor validar el indicador.");
                    }


                });

                if ($('#txt_tipo_meta').val() == "Descriptiva") {
                    $('#panel_numerica').attr('hidden', true);
                    $('#panel_descriptiva').attr('hidden', false);
                } else {
                    $('#panel_numerica').attr('hidden', false);
                    $('#panel_descriptiva').attr('hidden', true);
                }



            }
        });
    }


    $("#select_indicador").change(function () {
        loadVigenciaIndicador("/consultar-vigencia-anio-profesional/?indicador=" + $(this).val() + "&profesional=178");
    });

    $("#select_vigencia").change(function () {
        loadPeriodoVigencia("/consultar-periodo-x-anio/?año=" + $(this).val());
    });

    $("#select_periodo").change(function () {
        loadIndicadorxId("/consultar-detalle-indicador-x-indicador/?periodo=" + $(this).val() + "&vigencia=" + $('#select_vigencia').val().toString() + "&indicador=" + $('#select_indicador').val().toString() + "&area=12");
        $('#contenedor_info_indicador').attr('hidden', false);
    });

    loadVigenciaIndicador("/consultar-vigencia-anio-profesional/?indicador=" + '<%= item.length && item[0].id_indicador %>' + '&profesional=178')

    loadPeriodoVigencia("/consultar-periodo-x-anio/?año=" + '<%= item.length && item[0].periodo_año %>');

    loadIndicadorxId("/consultar-detalle-indicador-x-indicador/?vigencia=" + '<%= item.length && item[0].periodo_año %>' + '&periodo=' + '<%= item.length && item[0].periodo_mes %>' + '&area=12' + '&indicador=' + '<%= item.length && item[0].id_indicador %>');



</script>