<form id="formRegistroIndicador">

    <input type="text" name="id_reg_indicador" style="display: none;" value="<%= id_reg_indicador %>">
    <input type="text" id="txt_version" name="txt_version" value="<%= item.length && item[0].version? item[0].version:''  %>" hidden>
    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Vigencia:
        </span>
        <select name="select_vigencia" id="select_vigencia"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>
   
    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Indicador:
        </span>

        <select name="select_indicador" id="select_indicador"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option selected="selected" value="">Seleccionar Indicador</option>            
        </select required>
    </label>

 

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Periodo:
        </span>
        <select name="select_periodo" id="select_periodo"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">

        </select required>
    </label>

    <div class="" id="contenedor_info_indicador" name="contenedor_info_indicador" style=" text-align: center;">

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="txt_meta_numerica" style="font-weight: bold;">
                    Información del Indicador Seleccionado </label>
            </div>
        </div>

        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-2">
            <div class="flex items-center p-2 rounded-lg shadow-xs dark:bg-gray-800">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-3" style="font-weight: bold;">
                    Tipo Meta </label>&nbsp;
                <output name="txt_tipo_meta" id="txt_tipo_meta" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" value="">

            </div>

            <div class="flex items-center p-2 rounded-lg shadow-xs dark:bg-gray-800">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    style="font-weight: bold;" style="font-weight: bold;">
                    Periodo Evaluación</label>
                <output name="txt_periodo_evaluacion" id="txt_periodo_evaluacion"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    value="">

            </div>




        </div>


        <div class="container" id="panel_descriptiva">



            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-first-name">
                        Meta descriptiva
                    </label>
                    <output name="txt_meta_descriptiva" id="txt_meta_descriptiva"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name" type="text" placeholder="" value=""></output>

            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                        Descripción

                    </label>
                <output name="txt_fl_descriptiva" id="txt_fl_descriptiva" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder=""
                    value=""></output>
            </div>
        </div>




    </div>

    <div id="panel_numerica" style=" text-align: center;">

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full">

                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                        Meta Númerica </label>
                <output name="txt_meta_numerica" id="txt_meta_numerica" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" value=""
                    disabled>
                </div>

            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-first-name">
                        Numerador
                    </label>
                    <output name="txt_fl_numerador" id="txt_fl_numerador"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name" type="text" placeholder="" value="">

                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-last-name">
                        Denominador
                    </label>
                    <output name="txt_fl_denominador" id="txt_fl_denominador"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name" type="text" placeholder="" value="" disabled>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-first-name">
                        Valor Numerador
                    </label>
                    <input name="txt_vr_numerador" id="txt_vr_numerador"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name" type="text" placeholder="Ingresar Valor"
                        value='<%= item.length && item[0].formula_cifras_numerador? item[0].formula_cifras_numerador:"" %>'>

                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-last-name">
                        Valor Denominador
                    </label>
                    <input name="txt_vr_denominador" id="txt_vr_denominador"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name" type="text" placeholder="Ingresar Valor"
                        value='<%= item.length && item[0].formula_cifras_denominador? item[0].formula_cifras_denominador:"" %>'>


                </div>
            </div>


        </div>



        <div class="flex flex-wrap -mx-3 mb-6" id="panel_observacion" hidden>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="txt_observacion">
                Observaciones: </label>
            <div class="w-full">

                <textarea
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="text" name="txt_observacion" id="txt_observacion"
                    value=""><%= item.length && item[0].observaciones? item[0].observaciones:'' %></textarea>



            </div>
        </div>


        <div class="form-group row" id="panel_soporte">
            <label for="txt_soporte" class="col-2 col-form-label" style="font-weight: bold;">
                Anexar soporte: </label>

            <div class="col-6">
                <input type="file" class="input-file-input form-control" name="files_soporte" id="files_soporte"
                    multiple>
            </div>
        </div>

        <div class="form-group row">
            <label for="panel_soportes" class="col-2 col-form-label" style="font-weight: bold;color: blue">
                Soportes: </label>
            <div class="" id="panel_soportes">

            </div>
        </div>

    </div>


    <button hidden id="btnForm" type="submit"></button>
</form>

<script>
    function closeModal() {
        document.querySelector("#closeModalNew").click();
    }

    const form = document.querySelector("#formRegistroIndicador");



    var peticion_soportes = "/obtener_soportesxreg_indicador/<%= item.length && item[0].id_registroindicador? item[0].id_registroindicador:0 %>/edicion";
    loadContentHtml(peticion_soportes, '#panel_soportes');


    if ("<%= item.length && item[0].tipo_meta? item[0].tipo_meta:'' %>") {
        $('#contenedor_info_indicador').attr('hidden', false);
    } else {
        $('#contenedor_info_indicador').attr('hidden', true);
    }




    form.addEventListener("submit", function (event) {
        // Stop form submission
        event.preventDefault();
        const data = new FormData(form);
        const obj = Object.fromEntries(data);
        const check = '<%= respuesta?respuesta:"0" %>';
        const formDataAjax = {
            contentType: false,
            processData: false,
        }

        if (obj.id_reg_indicador == '0' || check == '1') {
            createdAjax('/persistir-registro-indicador', data, reloadContainer, formDataAjax)
            

        } else if (obj.id_reg_indicador != '0' && check == '0') {
            updateAjax('/actualizar-registro-indicador', data, reloadContainer, formDataAjax)

        }


    });


    function loadVigenciaIndicador(url) {
        $.ajax({
            type: 'get',
            url,
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {
                //select_linea
                $("#select_vigencia").html("");
                $("#select_vigencia").append('<option selected="selected" value="">Seleccionar Vigencia</option>');
                if (result.length == 0) {
                    $("#select_vigencia").html("");
                    $("#select_vigencia").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else if (result) {
                    result.forEach(element => {
                        if (element.periodo_año == '<%= item.length && item[0].periodo_año? item[0].periodo_año:0 %>') {

                            $("#select_vigencia").append('<option value=' + element.periodo_año + ' selected="selected">' + element.periodo_año + '</option>');

                        } else {

                            $("#select_vigencia").append('<option value=' + element.periodo_año + '>' + element.periodo_año + '</option>');
                        }
                    });
                }
            }
        });
    }

    function loadPeriodoVigencia(url) {
        $.ajax({
            type: 'get',
            url,
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {

                $("#select_periodo").html("");
                $("#select_periodo").append('<option selected="selected" value="">Seleccionar Periodo</option>');
                if (result.length == 0) {
                    $("#select_periodo").html("");
                    $("#select_periodo").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else if (result) {
                    result.forEach(element => {
                        if (element.id_mes == '<%= item.length && item[0].periodoevaluado? item[0].periodoevaluado:0 %>') {
                            $("#select_periodo").append('<option value=' + element.cod_mes + ' selected="selected">' + element.nombre_mes + '</option>');
                        } else {

                            $("#select_periodo").append('<option value=' + element.cod_mes + '>' + element.nombre_mes + '</option>');
                        }
                    });
                }
            }
        });
    }

    function loadIndicadorxId(url) {
        $.ajax({
            type: 'get',
            url,
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {
                $("#txt_tipo_meta").html("");
                $("#txt_meta_numerica").html("");
                $("#txt_periodo_evaluacion").html("");
                $("#txt_meta_descriptiva").html("");
                $("#txt_fl_descriptiva").html("");
                $("#txt_fl_numerador").html("");
                $("#txt_fl_denominador").html("");

                result.forEach(element => {
                    $("#txt_tipo_meta").append('<output value=' + element.tipo_meta + '>' + element.tipo_meta);
                    $("#txt_meta_numerica").append('<output value=' + element.meta_numerica + '>' + 'Superior al ' + element.meta_numerica + '%');
                    $("#txt_meta_descriptiva").append('<output value=' + element.meta_descriptiva + '>' + element.meta_descriptiva);
                    $("#txt_fl_descriptiva").append('<output value=' + element.formula_literal_descriptiva + '>' + element.formula_literal_descriptiva);
                    $("#txt_fl_numerador").append('<output value=' + element.formula_literal_numerador + '>' + element.formula_literal_numerador);
                    $("#txt_fl_denominador").append('<output value=' + element.formula_literal_denominador + '>' + element.formula_literal_denominador);
                    if (element.periodo_meta_num == 1) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Mensual');
                    }
                    else if (element.periodo_meta_num == 2) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Bimensual');
                    }
                    else if (element.periodo_meta_num == 3) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Trimestral');
                    }
                    else if (element.periodo_meta_num == 4) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Cuatrimestral');
                    }
                    else if (element.periodo_meta_num == 6) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Semestral');
                    }
                    else if (element.periodo_meta_num == 12) {
                        $("#txt_periodo_evaluacion").append('<output value=' + element.periodo_meta_num + '>Anual');
                    } else if (element.periodo_meta_num == 0 || element.periodo_meta_num > 12) {
                        alert("No tiene periodo de evaluación configurado, por favor validar el indicador.");
                    } else if (element.periodo_meta_num > 12) {
                        alert("Periodo de evaluacion no valido, por favor validar el indicador.");
                    }


                });

                if ($('#txt_tipo_meta').val() == "Descriptiva") {
                    $('#panel_numerica').attr('hidden', true);
                    $('#panel_descriptiva').attr('hidden', false);
                } else {
                    $('#panel_numerica').attr('hidden', false);
                    $('#panel_descriptiva').attr('hidden', true);
                }



            }
        });
    }

    function loadIndicadorVigencia(url){
        $.ajax({
            type: 'get',
            url,
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {
                //select_linea
                $("#select_indicador").html("");
                $("#select_indicador").append('<option selected="selected" value="">Seleccionar indicador</option>');
                if (result.length == 0) {
                    $("#select_indicador").html("");
                    $("#select_indicador").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else if (result) {
                    result.forEach(element => {
                        if (element.id_indicador == '<%= item.length && item[0].id_indicador? item[0].id_indicador:0 %>') {

                            $("#select_indicador").append('<option value=' + element.id_indicador + ' selected="selected">' + element.nombre_indicador + '</option>');

                        } else {

                            $("#select_indicador").append('<option value=' + element.id_indicador + '>' + element.nombre_indicador + '</option>');
                        }
                    });
                }
            }
        });    
    }

    $("#select_indicador").change(function () {
        
        //loadVigenciaIndicador("/consultar-vigencia-anio-profesional/?indicador=" + $(this).val());
        //loadIndicadorPeriodo();
        loadPeriodoVigencia("/consultar-periodo-x-anio-edit/?año=" + $('#select_vigencia').val().toString()        
        + '&indicador=' + $(this).val());
    });

    $("#select_vigencia").change(function () {
       loadIndicadorVigencia("/consultar-indicador-vigencia/?año=" + $(this).val());
       // loadPeriodoVigencia("/consultar-periodo-x-anio/?año=" + $(this).val() + "&indicador=" + $('#select_indicador').val().toString());
    });

    $("#select_periodo").change(function () {
        loadIndicadorxId("/consultar-detalle-indicador-x-indicador/?periodo=" + $(this).val() + "&vigencia=" + $('#select_vigencia').val().toString() + "&indicador=" + $('#select_indicador').val().toString());
        $('#contenedor_info_indicador').attr('hidden', false);
    });

    loadVigenciaIndicador("/consultar-vigencia-anio-profesional")

    loadPeriodoVigencia("/consultar-periodo-x-anio-edit/?año=" + '<%= item.length && item[0].periodo_año %>'
        + '&id_area=' + '<%= item.length && item[0].id_area %>' + '&id_profesional=' + '<%= item.length && item[0].id_profesional %>'
        + '&indicador=' + '<%= item.length && item[0].id_indicador %>');

    loadIndicadorxId("/consultar-detalle-indicador-x-indicador/?vigencia=" + '<%= item.length && item[0].periodo_año %>' + '&periodo=' + '<%= item.length && item[0].periodo_mes %>' + '&indicador=' + '<%= item.length && item[0].id_indicador %>');



</script>