<button @click="openModalNew('/form-ctm-registro-indicador/0/?respuesta=0','xl')" class="px-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
    Nuevo Registro Indicador
</button>
<hr class="py-2" />


<table class="w-full whitespace-no-wrap" id="table-registro-indicador">
    <thead>

        <tr class="text-center text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th scope="col">Fecha</th>
            <th scope="col">Vigencia</th>
            <th scope="col">Periodo</th>
            <th scope="col">Profesional</th>
            <th scope="col">Area</th>
            <th scope="col">Tipo Meta</th>
            <th scope="col">Numerador</th>
            <th scope="col">Denominador</th>
            <th scope="col">Nota</th>
            <th scope="col">Indicador</th>
            <th scope="col">Versión</th>
            <th scope="col">Calificado</th>
            <th scope="col">Aprobado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

        <% list.forEach(item=> { %>

            <tr lass="text-gray-700 dark:text-gray-400">

                <td class="px-4 py-3 text-sm">
                    <%= item.fecharegistro %>
                </td>
                <td class="px-4 py-3 text-sm">
                    <%= item.vigencia %>
                </td>
                <td class="px-4 py-3 text-sm">
                    <%= item.nombre_mes %>
                </td>
                <td class="px-4 py-3 text-sm">
                    <%= item.nombre_profesional %>
                </td>
                <td class="px-4 py-3 text-sm">
                    <%= item.nombre_area %>
                </td>
                <td class="px-4 py-3 text-sm">
                    <%= item.tipo_meta %>
                </td>
                <td class="px-4 py-3 text-sm">
                    <%= item.formula_cifras_numerador %>
                </td>
                <td class="px-4 py-3 text-sm">
                    <%= item.formula_cifras_denominador %>
                </td>

                <td class="px-4 py-3 text-sm">
                    <%= item.observaciones %>
                </td>

                <td class="px-4 py-3 text-sm">
                    <%= item.nombre_indicador %>
                </td>

                <td class="px-4 py-3 text-sm">
                    <%= item.version %>
                </td>

                <td class="px-4 py-3 text-sm">

                    <%if(item.calificado){%>
                        <strong><label style="color: green;"> SI</label></strong>
                        <%}else{%>
                            <strong><label style="color: red;"> NO</label></strong>
                            <%}%>
                </td>

                <td class="px-4 py-3 text-sm">
                    <%if(item.estado=="Si" ){%>
                        <strong><label style="color: green;"> <i class="fas fa-check-circle text-center"></i>
                                SI</label></strong>
                        <%}else{%>
                            <strong><label style="color: red;"><i class="fas fa-minus-circle text-center"> </i>
                                    NO</label></strong>
                            <%}%>
                </td>

                <td class="px-4 py-3">
                    <div class="flex items-center space-x-4 text-sm">



                        <button @click="openModalDetail('/form-ctm-detalle-registro-indicador/<%= item.id_registroindicador %>','xl') " class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Detail" title="Ver Detalle">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">

                                <i class="fas fa-eye"></i>

                            </svg>
                        </button>

                        <button @click="openModalDetail('/ctm-trazabilidad-registro-indicador/<%= item.id_indicador %>/?vigencia=<%= item.vigencia %>&periodo=<%= item.periodoevaluado %>&version=<%= item.version %>','xl') " class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Trazabilidad" title=" Ver Trazabilidad">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z">
                                </path>

                            </svg>
                        </button>




                        <%if(item.calificado==false&&item.estado=="No" ){%>
                            <button @click="openModalEdit('/form-ctm-registro-indicador/<%= item.id_registroindicador %>/?respuesta=1','xl')" class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                aria-label="Edit" title="Editar">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                    </path>
                                </svg>
                            </button>

                            <button onclick="openPopupDelete('/registro-indicador/delete/<%= item.id_registroindicador %>/control-mando-bips',reloadContainer)" class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                aria-label="Delete" title="Eliminar">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd"
                                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            <%}else{%>
                                &nbsp;&nbsp;
                                <%}%>



                    </div>
                </td>
            </tr>
            <% })%>

    </tbody>
</table>

<%- include("../../partials/pagination"); %>


    <script>
        function reloadContainer(action) {

            loadContentHtml('/ctm-registro-indicadores', '#container-tab')
            if (action == 'update') {
                document.querySelector("#closeModalEdit").click();
            } else if (action == 'created') {
                document.querySelector("#closeModalNew").click();
            }
        }
        getPagination('#table-registro-indicador');
    </script>