<form id="formIndicador">


    <input type="text" name="id_indicador" style="display: none;" value="<%= id_indicador %>">

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Indicador
        </span>
        <textarea name="indicador"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
            placeholder="Indicador"
            required><%= item.length && item[0].nombre_indicador? item[0].nombre_indicador:'' %></textarea>
    </label>


    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Plan general:
        </span>
        <select name="plan_general" id="select_plan"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">

            <option value="">Escoge alguna opción ...</option>

            <% planes_generales.forEach(lista=> { %>
                <% if (lista.estado) { %>
                    <% if (item.length && lista.id_plangeneral==item[0].id_plan_general) { %>

                        <option selected="selected" value="<%= lista.id_plangeneral %>">
                            <%= lista.plan_general %>
                        </option>
                        <% }else{ %>

                            <option value="<%= lista.id_plangeneral %>">
                                <%= lista.plan_general %>
                            </option>
                            <% }} %>



                                <% }); %>
        </select required>
    </label>


    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Linea acción:
        </span>
        <select name="linea_accion" id="select_linea"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Objetivo:
        </span>
        <select name="objetivo" id="select_objetivo"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Estrategia:
        </span>
        <select name="estrategia" id="select_estrategia"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Plan de accion:
        </span>
        <select name="plan_accion" id="select_plan_accion"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Area:
        </span>
        <select name="area" id="select_area"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="">Escoge alguna opción ...</option>
            <% lista_areas.forEach(lista=> { %>
                <%if (item.length && item[0].id_area==lista.id_area) { %>
                    <option selected="selected" value="<%= lista.id_area %>">
                        <%= lista.nombre_area %>
                    </option>

                    <% } else { %>
                        <option value="<%= lista.id_area %>">
                            <%= lista.nombre_area %>
                        </option>
                        <% } %>
                            <% }); %>
        </select required>
    </label>


    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Tipo Meta:
        </span>
        <select name="tipo_meta" id="select_tipo_meta"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    
    <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
            Periodo Evaluación:
        </span>
        <select name="periodo_evaluacion" id="select_periodo_evaluacion"
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
        </select required>
    </label>

    <div id="panel_descriptiva" hidden>

        <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Meta descriptiva:
            </span>
            <input name="meta_descriptiva"
                value="<%= item.length && item[0].meta_descriptiva? item[0].meta_descriptiva:'' %>"
                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                placeholder="Meta descriptiva">
        </label>

        <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Literal Descriptiva:
            </span>
            <input name="literal_descriptiva"
                value="<%= item.length && item[0].formula_literal_descriptiva? item[0].formula_literal_descriptiva:'' %>"
                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                placeholder="Literal Descriptiva">
        </label>

    </div>

    <div id="panel_numerica" hidden>

        <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Meta Númerica:
            </span>
            <input name="meta_numerica" value="<%= item.length && item[0].meta_numerica? item[0].meta_numerica:'0' %>"
                type="number"
                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                placeholder=" Meta Númerica">
        </label>


        <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Formula literal Numerador:
            </span>
            <input name="formula_literal_numerador"
                value="<%= item.length && item[0].formula_literal_numerador? item[0].formula_literal_numerador:'' %>"
                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                placeholder="Formula literal Numerador">
        </label>


        <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Formula literal Denominador:
            </span>
            <input name="formula_literal_denominador"
                value="<%= item.length && item[0].formula_literal_denominador? item[0].formula_literal_denominador:'' %>"
                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                placeholder="Formula literal Denominador">
        </label>
    </div>


    <button hidden id="btnForm" type="submit"></button>
</form>

<script>
    const planGeneralId = '<%= item.length && item[0].id_plan_general?item[0].id_plan_general:0 %>';
    const lineaAccionId = '<%= item.length && item[0].id_linea_accion?item[0].id_linea_accion:0 %>';
    const objetivoId = '<%= item.length && item[0].id_objetivo?item[0].id_objetivo:0 %>';
    const estretegiaId = '<%= item.length && item[0].id_estrategia?item[0].id_estrategia:0 %>';
    const planAccionId = '<%= item.length && item[0].id_plan?item[0].id_plan:0 %>';

    cmbKeys.selectLinea.keyDataIdCompare = lineaAccionId;
    cmbKeys.selectObjetivo.keyDataIdCompare = objetivoId;
    cmbKeys.selectEstrategia.keyDataIdCompare = estretegiaId;
    cmbKeys.selectPlanAccion.keyDataIdCompare = planAccionId;

    const metaNumerica = $("input[name='meta_numerica']");
    const formulaLiteralNumerador = $("input[name='formula_literal_numerador']");
    const formulaLiteralDenominador = $("input[name='formula_literal_denominador']");

    const metaDescriptiva = $("input[name='meta_descriptiva']");
    const literalDescriptiva = $("input[name='literal_descriptiva']");

    const tipoMeta = $('#select_tipo_meta');

    const form = document.querySelector("#formIndicador");

    function loadPeriodoEvaluacion() {
        $("#select_periodo_evaluacion").html("");
        $("#select_periodo_evaluacion").append('<option value="" selected="selected">' + 'No hay opciones disponibles' + '</option>');
        $.ajax({
            type: 'get',
            url: "/consultar-periodo-evaluacion-x-id-indicador/?id_indicador=" + '<%=item.length && item[0].id_indicador? item[0].id_indicador:0 %>',
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function (result) {
                $("#select_periodo_evaluacion").append('<option value="1">Mensual</option>');
                $("#select_periodo_evaluacion").append('<option value="2">Bimensual</option>');
                $("#select_periodo_evaluacion").append('<option value="3">Trimestral</option>');
                $("#select_periodo_evaluacion").append('<option value="4">Cuatrimestral</option>');
                $("#select_periodo_evaluacion").append('<option value="6">Semnestral</option>');
                $("#select_periodo_evaluacion").append('<option value="12">Anual</option>');

                if (result.length) {
                    $("#select_tipo_meta option[value=" + result[0].periodo_meta_num + "]").attr("selected", true);
                }
            }

        });

    }

    function loadTipoMeta() {
        tipoMeta.html("");
        $.ajax({
            type: 'get',
            url: "/consultar-tipo-meta-area-x-plan/?id_plan=" + planAccionId,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function (result) {
                tipoMeta.html("");
                tipoMeta.append('<option value="Descriptiva" >Descriptiva</option>');
                tipoMeta.append('<option value="Numerica">Númerica</option>');
                if (result.length) {
                    $("#select_tipo_meta option[value=" + result[0].tipo_meta + "]").attr("selected", true);
                }
                toggleTipoMeta();
            }

        });
    }

    tipoMeta.change(function () {
        toggleTipoMeta();
    });

    function toggleTipoMeta() {
        if (tipoMeta.val() == "Descriptiva") {
            $('#panel_numerica').attr('hidden', true);
            $('#panel_descriptiva').attr('hidden', false);

            $("#select_periodo_evaluacion option[value='']").attr("selected", true);
            metaNumerica.val("0");
            formulaLiteralNumerador.val("");
            formulaLiteralDenominador.val("");

        } else {
            $('#panel_numerica').attr('hidden', false);
            $('#panel_descriptiva').attr('hidden', true);

            metaDescriptiva.val("");
            literalDescriptiva.val("");
        }
    }

    function validationIndicador(_data) {
        // Creamos una copia del objeto para validar
        const data = { ..._data };
        // Inicializamos estos campos para no se validen en el método
        data.meta_numerica = 1;
        data.formula_literal_numerador = 1;
        data.formula_literal_denominador = 1;
        data.meta_descriptiva = 1;
        data.literal_descriptiva = 1;

        if (validationForm(data, 'id_indicador')) {
            return true;
        }

        if (tipoMeta.val() == "Descriptiva") {
            if (metaDescriptiva.val() == "" || literalDescriptiva.val() == "") {
                return true;
            }
        } else {
            if (metaNumerica.val() == "" || formulaLiteralNumerador.val() == "" || formulaLiteralDenominador.val() == "") {
                return true;
            }
        }

        return false;
    }


    form.addEventListener("submit", function (event) {
        // Stop form submission
        event.preventDefault();
        const data = Object.fromEntries(new FormData(form));

        if (validationIndicador(data)) {
            alertValidation();
            return false;
        }

        if (data.id_indicador != '0') {
            updateAjax('/actualizar-indicador', data, reloadContainer)
        } else {
            createdAjax('/persistir-indicador', data, reloadContainer)
        }

    });

    $(cmbKeys.selectPlan.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectLinea.url + $(this).val(), cmbKeys.selectLinea);
    });

    $(cmbKeys.selectLinea.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectObjetivo.url + $(this).val(), cmbKeys.selectObjetivo);
    });

    $(cmbKeys.selectObjetivo.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectEstrategia.url + $(this).val(), cmbKeys.selectEstrategia);
    });

    $(cmbKeys.selectEstrategia.keyHtml).change(function () {
        loadCustomSelect(cmbKeys.selectPlanAccion.url + $(this).val(), cmbKeys.selectPlanAccion);
    });



    loadTipoMeta();
    loadPeriodoEvaluacion();


    loadCustomSelect(cmbKeys.selectLinea.url + planGeneralId, cmbKeys.selectLinea);
    loadCustomSelect(cmbKeys.selectObjetivo.url + lineaAccionId, cmbKeys.selectObjetivo);
    loadCustomSelect(cmbKeys.selectEstrategia.url + objetivoId, cmbKeys.selectEstrategia);
    loadCustomSelect(cmbKeys.selectPlanAccion.url + estretegiaId, cmbKeys.selectPlanAccion);
</script>