<%- include("header"); %>
    <%- include("head"); %>
        <div class="col-12">
            <h1>Registros</h1>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Codigo IPS</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <% registroplanos.forEach(registroplanos => { %>
                        <tr>
                            <td>
                                <%= registroplanos.ips %>
                            </td>
                            <td>
                                <%= registroplanos.fecha_inicio.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= registroplanos.fecha_final.toLocaleDateString()  %>
                            </td>
                            <td>


                                <a href="#" class="btn btn-primary">
                        Eliminar
                    </a>
                            </td>
                        </tr>
                        <% })%>
                </tbody>
            </table>
        </div>

        <%- include("footer"); %>