<%- include("head"); %>
    <%- include("styles_gral"); %>

        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: none;
                overflow-y: hidden;
            }
        </style>

        <body id="body_ent">
            <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>

            <div class="col-md-12" style="text-align: center; margin-top: 0px;">
                <h2 class="text-center" style="color: #20488f;font-size: 20px">Respuesta de Indicadores
                </h2>
            </div>



            <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


                <div class="col-md col-md-offset-3" style="padding-bottom: 0px">

                    <div class="card container" id="panel_nuevo_indicador" style=" text-align: center;">


                        <div class="form-group row">
                            <label class="col-1 col-form-label" style="font-weight: bold;">
                            - </label>


                            <div class="col-10">
                                <h3 class="text-center col-12">Nueva Respuesta de Indicador.</h3>
                            </div>

                        </div>


                        <form id="formulario" enctype="multipart/form-data" method="">
                            <% lista_detalle_indicador.forEach(lista=> { %>


                                <div class="form-group row">

                                    <label class="col-2 col-form-label" style="font-weight: bold;">Area: </label>
                                    <div class="col-3">


                                        <input type="text" name="select_area" id="select_area" value="<%= lista.id_area %>" hidden>
                                        <label type="text" value="" disabled><%= lista.nombre_area %> </label>

                                    </div>

                                    <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Profesional:</label>

                                    <div class="col-5">
                                        <p>
                                            <input type="text" id="select_profesional" name="select_profesional" value="<%= lista.id_profesional %>" hidden>
                                            <label type="text" name="" id="" value="" disabled><%= lista.nombre_profesional %> </label>

                                        </p>

                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                    Nombre Indicador: </label>
                                    <div class="col-10">
                                        <input type="text" id="select_version" name="select_version" value="<%= lista.version %>" hidden>
                                        <input type="text" id="select_indicador" name="select_indicador" value="<%= lista.id_indicador %>" hidden>
                                        <label type="text" name="" id="" value="" disabled><%= lista.nombre_indicador %> </label>

                                    </div>
                                </div>

                                <div class="form-group row">

                                    <label class="col-2 col-form-label" style="font-weight: bold;" for="select_vigencia">Vigencia: </label>
                                    <div class="col-3">
                                        <input type="text" id="select_vigencia" name="select_vigencia" value="<%= lista.periodo_año %>" hidden>
                                        <label type="text" name="" id="" value="" disabled><%= lista.periodo_año %> </label>

                                        </select>

                                    </div>

                                    <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Periodo Evaluado:</label>

                                    <div class="col-5">
                                        <input type="text" id="select_periodo" name="select_periodo" value="<%= lista.periodo_mes %>" hidden>
                                        <label type="text" name="" id="" value="" disabled><%= lista.periodo_mes %> </label>

                                        </select>
                                    </div>
                                </div>


                                <div class="" id="contenedor_info_indicador" name="contenedor_info_indicador">

                                    <div class="dropdown-divider"></div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" style="font-weight: bold;">
                                    - </label>


                                        <div class="col-10">
                                            <h3 class="text-center col-12" id="titulo_info_indicador">Información del Indicador Seleccionado</h3>
                                        </div>

                                    </div>

                                    <div class="form-group row" id="info_tipo_meta">

                                        <label class="col-2 col-form-label" style="font-weight: bold;">
                                        Tipo Meta: </label>
                                        <div class="col-10">
                                            <input type="text" id="tipo_meta" name="tipo_meta" value="<%= lista.tipo_meta %>" hidden>
                                            <label type="text" name="txt_tipo_meta" id="txt_tipo_meta" value="" disabled><%= lista.tipo_meta %> </label>

                                        </div>

                                    </div>

                                    <div class="container" id="panel_descriptiva" style=" text-align: center;">



                                        <div class="form-group row">

                                            <label class="col-2 col-form-label" for="txt_meta_descriptiva" style="font-weight: bold;">
                                            Meta descriptiva: </label>
                                            <div class="col-10">
                                                <label type="text" name="txt_meta_descriptiva" id="txt_meta_descriptiva" value="" disabled><%= lista.meta_descriptiva %> </label>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-2 col-form-label" for="txt_fl_descriptiva" style="font-weight: bold;">Descripcion: </label>
                                            <div class="col-10">

                                                <label type="text" name="txt_fl_descriptiva" id="txt_fl_descriptiva" value="" disabled><%= lista.formula_literal_descriptiva %> </label>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                        - </label>


                                            <div class="col-10">
                                                <h3 class="text-center col-12">Ingreso de Registros.</h3>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="container" id="panel_numerica" style=" text-align: center;">


                                        <div class="form-group row">
                                            <label class="col-2 col-form-label" for="txt_meta_numerica" style="font-weight: bold;">
                                            Meta Númerica: </label>
                                            <div class="col-10">

                                                <label type="text" name="txt_meta_numerica" id="txt_meta_numerica" value="" disabled><%= lista.meta_numerica %> </label>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-2 col-form-label" for="txt_fl_numerador" style="font-weight: bold;">
                                            Numerador: </label>
                                            <div class="col-10">


                                                <label type="text" name="txt_fl_numerador" id="txt_fl_numerador" value="" disabled><%= lista.formula_literal_numerador %> </label>


                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-2 col-form-label" for="txt_fl_denominador" style="font-weight: bold;">
                                            Denominador: </label>
                                            <div class="col-10">

                                                <label type="text" name="txt_fl_denominador" id="txt_fl_denominador" value="" disabled><%= lista.formula_literal_denominador %> </label>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                        - </label>


                                            <div class="col-10">
                                                <h3 class="text-center col-12">Ingreso de Registros.</h3>
                                            </div>

                                        </div>
                                        <div class="form-group row">

                                            <label class="col-2 col-form-label" style="font-weight: bold;"> Valor Numerador:
                                        </label>

                                            <div class="col-4">
                                                <input class="form-control" type="text" placeholder="Ingresar Valor" name="txt_vr_numerador" id="txt_vr_numerador" value="">
                                            </div>
                                            <label class="col-2 col-form-label" style="font-weight: bold;"> Valor Denominador:
                                        </label>

                                            <div class="col-4">
                                                <input class="form-control" type="text" placeholder="Ingresar Valor" name="txt_vr_denominador" id="txt_vr_denominador" value="">
                                            </div>
                                        </div>



                                    </div>

                                    <div class="form-group row" id="panel_observacion">
                                        <label for="txt_observacion" class="col-2 col-form-label" style="font-weight: bold;">                                    
                                            Observaciones: </label>

                                        <div class="col-10">
                                            <textarea class="form-control" type="text" name="txt_observacion" id="txt_observacion" value=""></textarea>
                                        </div>

                                    </div>

                                    <div class="form-group row" id="panel_soporte">
                                        <label for="txt_soporte" class="col-2 col-form-label" style="font-weight: bold;">                                    
                                        Anexar soporte: </label>

                                        <div class="col-6">
                                            <input type="file" class="input-file-input form-control" name="files_soporte" id="files_soporte" multiple>
                                        </div>

                                        <!--<div class="col-2">
                                        <button class="btn btn btn-primary btn-sm form-control " id="btn-subir"
                                            name="btn-subir" disabled>Subir</button>
                                    </div>-->
                                    </div>

                                    <div class="form-group col-sm-12" style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                                        <div class="text-center">
                                            <button style="font-weight: bold;" class="btn btn-success" id="btn-guardar" name="btn-guardar" onclick="">Guardar
                                            Registro Indicador</button>
                                            <a href="/ctm-reg-indicadores" class="btn btn-default">volver</a>
                                        </div>
                                    </div>


                                    <% }); %>
                        </form>

                        </div>
                    </div>
                </div>

            </div>

            <div class="" id="tbl_mis_registros">

            </div>

        </body>


        <script type="text/javascript">
            $(document).ready(function() {


                event.preventDefault();
                var vigencia = $('#select_vigencia').val().toString();
                var tipo_meta = $('#tipo_meta').val();
                var periodo = $('#select_periodo').val().toString();
                var area = $('#select_area').val();
                var profesional = $('#select_profesional').val();
                var indicador = $('#select_indicador').val();
                var vr_numerador = $('#txt_vr_numerador').val();
                var vr_denominador = $('#txt_vr_denominador').val();
                var observacion = $('#txt_observacion').val();

                if (tipo_meta == 'Descriptiva') {
                    $('#panel_numerica').attr('hidden', true);
                } else {
                    $('#panel_descriptiva').attr('hidden', true);
                }
                //peticion de registro de indicador con subida de soportes

                const $form = document.querySelector('#formulario');
                $form.addEventListener('submit', (event) => {
                    event.preventDefault();
                    var vigencia = $('#select_vigencia').val();
                    var periodo = $('#select_periodo').val();
                    var area = $('#select_area').val();
                    var profesional = $('#select_profesional').val();
                    var indicador = $('#select_indicador').val();
                    var vr_numerador = $('#txt_vr_numerador').val();
                    var vr_denominador = $('#txt_vr_denominador').val();
                    var observacion = $('#txt_observacion').val();

                    var peticion_validacion = "/validacion-insert-respuesta-indicadores/?vigencia=" + vigencia +
                        "&periodo=" + periodo +
                        "&profesional=" + profesional +
                        "&indicador=" + indicador;

                    $.ajax({
                        type: 'get',
                        url: peticion_validacion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {

                            if (result["status"] == 200 && result["bandera"]) {

                                alert(result["msg"]);

                            } else {


                                const $form = document.querySelector('#formulario');


                                event.preventDefault();

                                $.ajax({
                                    type: 'POST',
                                    url: '/persistir-registro-indicador',
                                    data: new FormData($form),
                                    contentType: false,
                                    cache: false,
                                    processData: false,

                                    beforeSend: function(data) {
                                        //console.log(data.status + ':' + data.statusText,data.responseText);
                                        $('#datos').html('<p>Procesando...</p>');

                                    },
                                    error: function(data) {

                                        console.log(data.responseText);
                                        //var err = data.responseText.slice(0, 9);

                                        /*$('#datos').html("<div style='float:center;' class='text-center'><i class='fa fa-exclamation-circle' aria-hidden='true' style='color:red;'> Ocurrio un Error! </i></div>" + data.responseText);
                                
                                        setTimeout(function() {
                                            $('#datos').fadeOut('fast');
                                        }, 5000);
                                
                                        $('#datos').show();*/
                                        alert(data.responseText);

                                        //$('#formulario')[0].reset();

                                    },
                                    success: function(result) {


                                        //$('#datos').html('');
                                        //$('#btn-subir').attr("disabled", true);

                                        //$('#datos').html('<p><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:green">La operacion se ejecuto con exito...</i></p>');
                                        //console.log(JSON.stringify(result['respuesta']));
                                        //var iframe = document.getElementById('iframe_arch');



                                        const $file_ = document.querySelector('#files_soporte');
                                        $file_.value = '';

                                        alert("Los archivos se cargaron correctamente!");
                                        $('#formulario')[0].reset();

                                        window.location.replace("/ctm-reg-indicadores");






                                    }

                                });



                            }

                        }

                    });








                });


            });
        </script>