<%- include("head"); %>


    <style>
        body {
            /*background-color: #eaedee;*/
            overflow-x: auto;
            overflow-y: auto;
        }
        
        body::-webkit-scrollbar {
            display: none;
            overflow-y: hidden;
        }
        
        .vertical-line {
            display: inline-block;
            border-left: 1px solid #ccc;
            margin: 0 5px;
            height: 10px;
        }
    </style>

    <body id="body_ent">



        <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


            <div class="col-md col-md-offset-3" style="padding-bottom: 0px">

                <div class="container" id="panel_nuevo_indicador" style=" text-align: center;">

                    <div class="col-12">
                        <h3 class=" col-12">Detalles Registro de Indicador.</h3>

                    </div>

                    <div class="dropdown-divider"></div>

                    <form id="formulario" enctype="multipart/form-data" method="POST">

                        <div class="form-group row">

                            <h4 class=" col-1"><small style="color: blue;">Versión:</small> </h4>
                            <div class="col-3">


                                <%= lista_calificacion_indicadores[0].version %>
                                    </output>
                            </div>

                            <h4 class=""><small style="color: blue;">Calificado:</small> </h4>
                            <div class="col-7">


                                <%if(lista_calificacion_indicadores[0].calificado){%>

                                    <i class="fas fa-check-circle text-center" onclick="" style="color: green;"> SI <span class="vertical-line"></span></i><label id="estado_cal"></label>
                                    <button type="button" style="margin-left: 20px;" id="btn-respuesta" class="btn btn-sm btn-info" onclick="generar_respuesta('<%= lista_calificacion_indicadores[0].id_registroindicador %>')" hidden>
                                        Responder
                                    </button>

                                    <%}else{%>


                                        <i class="fas fa-minus-circle text-center" style="color: red;" onclick=""> NO <span class="vertical-line"></span></i><label id="estado_cal"></label>
                                        <%}%>

                                            <script type="text/javascript">
                                                event.preventDefault();
                                                const peticion = "/consultar-calificacion-reg-indicador/?id_reg_indicador=" + '<%= lista_calificacion_indicadores[0].id_registroindicador %>';
                                                $.ajax({
                                                    type: 'post',
                                                    url: peticion,
                                                    data: [],
                                                    contentType: false,
                                                    cache: false,
                                                    processData: false,
                                                    success: function(result) {

                                                        if (result != [] && result != "[]" && result != '[]' && result != "") {


                                                            if (result[0].estado) {
                                                                $('#estado_cal').html('<i class="fas fa-check-circle text-center" onclick="" style="color: green;"> Aprobado</i>');
                                                                $('#txt_observacion_calificacion').html(result[0].comentario);
                                                                $('#txt_fecha_calificacion').html(result[0].fecha_calificacion);


                                                                if (result[0].estado == false) {
                                                                    $('#txt_estado_calificacion').html('<label>NO</label>');
                                                                } else {
                                                                    $('#txt_estado_calificacion').html('<label>SI</label>');
                                                                }


                                                                $('#acerca_calificacion').attr('hidden', false);
                                                            } else {


                                                                $('#estado_cal').html("<i class='fas fa-minus-circle text-center' style='color: red;onclick=''></i>Pendiente Aprobación");

                                                                var estado_cal_ = '<%=lista_calificacion_indicadores[0].calificado%>';
                                                                //alert('estado calificacion ' + estado_cal_)
                                                                alert(result[0].estado);
                                                                if (estado_cal_ == 'true' && !result[0].estado) {
                                                                    alert('Tenga en cuenta que el registro no está Aprobado, debe generar uno nuevo en "Responder"');
                                                                    $('#btn-respuesta').attr('hidden', false);
                                                                    $('#acerca_calificacion').attr('hidden', false);

                                                                } else if (estado_cal_ == 'false') {
                                                                    $('#btn-respuesta').attr('hidden', true);
                                                                    $('#acerca_calificacion').attr('hidden', true);

                                                                }

                                                                //se pintan los datos de la calificacion

                                                                if (result[0].comentario != "") {
                                                                    $('#txt_observacion_calificacion').html(result[0].comentario);
                                                                    $('#txt_fecha_calificacion').html(result[0].fecha_calificacion);
                                                                } else {
                                                                    $('#txt_observacion_calificacion').html("Sin observaciones");

                                                                }
                                                                $('#txt_fecha_calificacion').html(result[0].fecha_calificacion);

                                                                if (result[0].estado == false) {
                                                                    $('#txt_estado_calificacion').html('<label>NO</label>');
                                                                } else {
                                                                    $('#txt_estado_calificacion').html('<label>SI</label>');
                                                                }
                                                            }
                                                        } else {
                                                            $('#estado_cal').html("<i class='fas fa-minus-circle text-center' style='color: red;onclick=''></i>No hay Calificación");
                                                        }

                                                    }
                                                });
                                            </script>




                                            <a href="/ctm-reg-indicadores" class="btn btn-sm btn-secondary ; ">volver</a>

                            </div>


                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="form-group row" id="acerca_calificacion" hidden>


                            <div class="col-12 col-form-label text-center">

                                <div><label for="panel_soportes" class="col-12 col-form-label" style="font-weight: bold;font-size: 15px;color: blue">
                        Acerca de la Calificación </label></div>

                            </div>

                            <div class="form-group row col-12">



                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                        Fecha Calificación: </label>


                                <div class="col-4">
                                    <output class="form-control" type="text" placeholder="" name="txt_fecha_calificacion" id="txt_fecha_calificacion" value=''>
                                        
                                        </output>
                                </div>

                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Aprobado: </label>


                                <div class="col-4">
                                    <output class="form-control" placeholder="" name="txt_estado_calificacion" id="txt_estado_calificacion" value=''>
                                   
                                    </output>
                                </div>

                            </div>

                            <div class="form-group row col-12" style="justify-content: center;align-items: center;">


                                <h1 class="col-12 col-form-label text-center" style="font-weight: bold;color: blue;font-size: 15px;">
                                    Comentarios: </h1>

                                <output class="form-control col-12 text-center" type="text" name="txt_observacion_calificacion" id="txt_observacion_calificacion">
                            
                            </output>



                            </div>



                        </div>

                        <!-- <p>
                            <%= lista_calificacion_indicadores[0].id_registroindicador %>
                        </p>-->
                        <div class="dropdown-divider"></div>

                        <div><label for="panel_soportes" class="col-12 col-form-label" style="font-weight: bold;font-size: 15px;color: blue">
                            Detalles del Indicador Calificado </label></div>

                        <div class="form-group row">



                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Fecha Registro: </label>


                            <div class="col-4">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                    <%= lista_calificacion_indicadores[0].fecharegistro %>
                                    </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Referencia: </label>


                            <div class="col-4">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                <%= 'REG-'%><%= lista_calificacion_indicadores[0].id_registroindicador %><%='-'%><%= lista_calificacion_indicadores[0].num_identificacion %><%='-'%><%= lista_calificacion_indicadores[0].nombre_area %>
                                </output>
                            </div>

                        </div>

                        <div class="form-group row">


                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Profesional: </label>


                            <div class="col-4">
                                <input name="txt_profesional" id="txt_profesional" value='<%= lista_calificacion_indicadores[0].id_profesional %>' type="text" hidden>
                                <output class="form-control" type="text" placeholder="">
                                    <%= lista_calificacion_indicadores[0].nombre_profesional %>
                                    </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Identificación: </label>


                            <div class="col-4">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                <%= lista_calificacion_indicadores[0].num_identificacion %>
                                </output>
                            </div>

                        </div>
                        <div class="form-group row">


                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Area:: </label>


                            <div class="col-10">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                    <%= lista_calificacion_indicadores[0].nombre_area %>
                                    </output>
                            </div>

                        </div>

                        <div class="dropdown-divider"></div>

                        <div class="form-group row">


                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Indicador: </label>


                            <div class="col-10">
                                <input type="text" name="txt_indicador" id="txt_indicador" value='<%= lista_calificacion_indicadores[0].id_indicador %>' hidden>
                                <output class="form-control" type="text" placeholder="">
                                    <b> <%= lista_calificacion_indicadores[0].nombre_indicador %></b>
                                    </output>
                            </div>

                        </div>

                        <div class="form-group row">

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Tipo Meta: </label>


                            <div class="col-2">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                <%= lista_calificacion_indicadores[0].tipo_meta %>
                                </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    vigencia: </label>


                            <div class="col-2">
                                <input type="text" name="txt_vigencia" id="txt_vigencia" value='<%= lista_calificacion_indicadores[0].vigencia %>' hidden>
                                <output class="form-control" type="text" placeholder="">
                                    <%= lista_calificacion_indicadores[0].vigencia %>
                                    </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Periodo: </label>


                            <div class="col-2">
                                <input type="text" name="txt_periodo" id="txt_periodo" value='<%= lista_calificacion_indicadores[0].periodoevaluado %>' hidden>
                                <output class="form-control" type="text" placeholder="">
                                <%= lista_calificacion_indicadores[0].nombre_mes %>
                                </output>
                            </div>

                        </div>

                        <div class="container" id="panel_descriptiva" style=" text-align: center;" hidden>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_meta_descriptiva" style="font-weight: bold;">
                                        Meta descriptiva: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" placeholder="" name="txt_meta_descriptiva" id="txt_meta_descriptiva" value='<%= lista_calificacion_indicadores[0].meta_descriptiva %>'>
                                        <%= lista_calificacion_indicadores[0].meta_descriptiva %>
                                        </output>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_fl_descriptiva" style="font-weight: bold;">Descripcion: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_fl_descriptiva" id="txt_fl_descriptiva" value='<%= lista_calificacion_indicadores[0].formula_literal_descriptiva %>'>
                                        <%= lista_calificacion_indicadores[0].formula_literal_descriptiva %>
                                        </output>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                            Observaciones: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_observacion" id="txt_observacion">
                                        <%= lista_calificacion_indicadores[0].observaciones %>
                                        </output>
                                </div>
                            </div>

                        </div>

                        <div class="container" id="panel_numerica" style=" text-align: center;" hidden>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_meta_numerica" style="font-weight: bold;">
                                            Meta Númerica: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_meta_numerica" id="txt_meta_numerica" value='<%= lista_calificacion_indicadores[0].meta_numerica %>'>
                                            <%= lista_calificacion_indicadores[0].meta_numerica %>
                                        </output>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_fl_numerador" style="font-weight: bold;">
                                            Numerador: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_fl_numerador" id="txt_fl_numerador" value='<%= lista_calificacion_indicadores[0].meta_numerica %>'>
                                            <%= lista_calificacion_indicadores[0].formula_literal_numerador %>
                                        </output>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_fl_denominador" style="font-weight: bold;">
                                            Denominador: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_fl_denominador" id="txt_fl_denominador" value='<%= lista_calificacion_indicadores[0].meta_numerica %>'>
                                                <%= lista_calificacion_indicadores[0].formula_literal_numerador %>
                                            </output>
                                </div>

                            </div>

                            <div class="form-group row">

                                <label class="col-2 col-form-label" style="font-weight: bold;"> Valor Numerador:
                                        </label>

                                <div class="col-1">
                                    <output class="form-control" type="text" name="txt_vr_numerador" id="txt_vr_numerador" value='<%= lista_calificacion_indicadores[0].formula_cifras_numerador %>'>
                                            <%= lista_calificacion_indicadores[0].formula_cifras_numerador %>
                                        </output>
                                </div>
                                <label class="col-form-label" style="font-weight: bold;"> Valor Denominador:
                                        </label>

                                <div class="col-1">
                                    <output class="form-control" type="text" name="txt_vr_denominador" id="txt_vr_denominador" value='<%= lista_calificacion_indicadores[0].formula_cifras_denominador %>'>
                                                <%= lista_calificacion_indicadores[0].formula_cifras_denominador %>
                                            </output>
                                </div>

                                <!--<label class="col-form-label" style="font-weight: bold;"> Resultado:
                                        </label>

                                <div class="col-1">
                                    <output class="form-control" type="text" name="txt_resultado_numerico" id="txt_resultado_numerico" value="">
                                        </div>
                                        <label class="col-form-label" style="font-weight: bold;"> Desviación:
                                        </label>
    
                                        <div class="col-1">
                                            <output class="form-control" type="text" name="txt_desviacion"
                                                id="txt_desviacion" value="">
                                        </div>-->

                                <div class="col-1">
                                    <output class="form-control" type="text" name="txt_id_reg_indicador" hidden id="txt_id_reg_indicador" value='<%= lista_calificacion_indicadores[0].id_registroindicador %>'>
                                                <%= lista_calificacion_indicadores[0].id_registroindicador %>
                                            </output>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                            Nota agregada: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_observacion" id="txt_observacion">
                                        <%= lista_calificacion_indicadores[0].observaciones %>
                                        </output>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="panel_soportes" class="col-2 col-form-label" style="font-weight: bold;color: blue">
                                    Soportes: </label>
                            <div class="form-group row col-10" id="panel_soportes">

                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>

        <%if(lista_calificacion_indicadores[0].calificado || lista_calificacion_indicadores[0].version >=2){%>

            <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


                <div class="col-md col-md-offset-3" style="padding-bottom: 0px">

                    <div class="container" id="" style=" text-align: center;">



                        <div class="col-12 col-form-label text-center">


                            <div class="">


                                <div class="form-group row col-12" id="panel_trazabilidad" name="panel_trazabilidad">

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <%}%>




    </body>





    <script type="text/javascript">
        function almacenar_registro() {

            event.preventDefault();


            var reg_indicador = $('#txt_id_reg_indicador').val();
            // var indicador = $('#select_indicador').val();
            var vr_numerador = $('#txt_vr_numerador').val();
            var vr_denominador = $('#txt_vr_denominador').val();
            var resultado_numerico = $('#txt_resultado_numerico').val();
            var resultado_descriptivo = $('#select_resultado_descriptivo').val();
            var desviacion = $('#txt_desviacion').val();
            var comentario = $('#txt_comentario').val();
            var estado = $('#select_aprobar').val();

            if (vr_numerador == '') {
                vr_numerador = 0;
                desviacion = 0;
                resultado_numerico = 0;
            }
            if (vr_denominador == '') {
                vr_denominador = 0;
            }



            if (resultado_descriptivo == undefined) {
                resultado_descriptivo = 0;
            }

            var peticion = "/persistir-calificacion-indicador/" +
                "?reg_indicador=" + reg_indicador +
                "&vr_numerador=" + vr_numerador +
                "&vr_denominador=" + vr_denominador +
                "&resultado_numerico=" + resultado_numerico +
                "&resultado_descriptivo=" + resultado_descriptivo +
                "&desviacion=" + desviacion +
                "&comentario=" + comentario +
                "&estado=" + estado;

            $.ajax({
                type: 'post',
                url: peticion,
                data: [],
                contentType: false,
                cache: false,
                processData: false,

                success: function(result) {
                    if (result["status"] == 200) {

                        alert(result["msg"]);

                        $('#preview').show();

                        $('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                        $('#card-msg').show();

                        $('#formulario')[0].reset();
                        setTimeout(function() {
                            $('#preview').hide();
                        }, 4000);

                    } else {
                        $('#preview').show();

                        $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                        $('#card-msg').show();

                        setTimeout(function() {
                            $('#preview').hide();
                        }, 5000);
                    }
                }

            });

        }

        function generar_respuesta(id_registroindicador) {

            event.preventDefault();

            //alert("ok desde lista plan general");

            const peticion = "/ctm-respuesta-reg-indicador/?id_registroindicador=" + id_registroindicador;

            $.ajax({
                type: 'post',
                url: peticion,
                data: [],
                contentType: false,
                cache: false,
                processData: false,

                success: function(result) {

                    //history.replaceState("/form-editar-entidad", "Editar Entidad Bips", "/form-editar-entidad");
                    $('#preview').hide();
                    $('#body_ent').html(result);


                }

            });

        }

        $(document).ready(function() {

            //alert('<%=lista_calificacion_indicadores["id_registroindicador"] %>' );
            //console.log(lista_calificacion_indicadores);


            var tipo_meta = '<%= lista_calificacion_indicadores[0].tipo_meta %>';

            if (tipo_meta == 'Descriptiva') {
                //alert('es descriptiva ' + tipo_meta);
                $('#panel_numerica').attr('hidden', true);
                $('#panel_descriptiva').attr('hidden', false);



            }
            if (tipo_meta == 'Numerica') {
                //alert('es numerico ' + tipo_meta);
                $('#panel_numerica').attr('hidden', false);
                $('#panel_descriptiva').attr('hidden', true);
                var peticion2 = "/calcular-resultado-numerico/?numerador=" + $('#txt_vr_numerador').val() +
                    "&denominador=" + $('#txt_vr_denominador').val();

                $.ajax({
                    type: 'get',
                    url: peticion2,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(result) {
                        $("#txt_resultado_numerico").html("");
                        //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                        $("#txt_resultado_numerico").append('<option value=' + result + '>' + result + ' </option>');

                        var peticion3 = "/calcular-desviacion/?meta_numerica=" + $('#txt_meta_numerica').val() +
                            "&resultado_numerico=" + $('#txt_resultado_numerico').val();

                        $.ajax({
                            type: 'get',
                            url: peticion3,
                            data: [],
                            contentType: false,
                            cache: false,
                            processData: false,
                            success: function(result2) {
                                $("#txt_desviacion").html("");
                                //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                                $("#txt_desviacion").append('<option value=' + result2 + '>' + result2 + ' </option>');


                            }
                        });

                    }
                });

            }


            var peticion_soportes = "/obtener_soportesxreg_indicador/?id_reg_indicador=<%= lista_calificacion_indicadores[0].id_registroindicador %>";
            $.ajax({
                type: 'get',
                url: peticion_soportes,
                data: [],
                contentType: false,
                cache: false,
                processData: false,
                success: function(result) {
                    $("#panel_soportes").html("");
                    //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                    $("#panel_soportes").html(result);

                }
            });

            var prof = $('#txt_profesional').val();
            var indi = $('#txt_indicador').val();
            var vigencia = $('#txt_vigencia').val();
            var periodo = $('#txt_periodo').val();

            var peticion_trazabilidad = "/obtener_trazabilidad_x_indicador_profesional_vigencia_periodo/?id_indicador=" + indi +
                "&profesional=" + prof + "&vigencia=" + vigencia + "&periodo=" + periodo;
            //select * from schema_control.registroindicadores where id_indicador=$1 and id_profesional=$2 and vigencia=$3 and periodoevaluado=$4
            $.ajax({
                type: 'get',
                url: peticion_trazabilidad,
                data: [],
                contentType: false,
                cache: false,
                processData: false,
                success: function(result) {
                    $("#panel_trazabilidad").html("");
                    //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                    $("#panel_trazabilidad").html(result);

                }
            });


        });
    </script>