<%- include("head"); %>


    <style>
        body {
            /*background-color: #eaedee;*/
            overflow-x: auto;
            overflow-y: auto;
        }
        
        body::-webkit-scrollbar {
            display: none;
            overflow-y: hidden;
        }
    </style>

    <body id="body_ent">



        <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


            <div class="col-md col-md-offset-3" style="padding-bottom: 0px">

                <div class="container" id="panel_nuevo_indicador" style=" text-align: center;">



                    <form id="formulario" enctype="multipart/form-data" method="POST">

                        <div class="form-group row">
                            <div class="col-9">
                                <h3 class=" col-12">Detalles Generales del Registro de Indicador.</h3>

                            </div>
                            <h4 class=" col-1"><small style="color: blue;">Versión::</small> </h4>
                            <div class="col-2">

                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                            <%= lista_calificacion_indicadores[0].version %>
                            </output>
                            </div>
                        </div>

                        <div class="form-group row">


                            <label class="col-12 col-form-label" style="font-weight: bold;color: blue;">
                                Informacion del Indicador y Profesional </label>

                        </div>

                        <!-- <p>
                            <%= lista_calificacion_indicadores[0].id_registroindicador %>
                        </p>-->

                        <div class="form-group row">


                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Fecha Registro: </label>


                            <div class="col-4">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                    <%= lista_calificacion_indicadores[0].fecharegistro %>
                                    </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Referencia: </label>


                            <div class="col-4">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                <%= 'REG-'%><%= lista_calificacion_indicadores[0].id_registroindicador %><%='-'%><%= lista_calificacion_indicadores[0].num_identificacion %><%='-'%><%= lista_calificacion_indicadores[0].nombre_area %>
                                </output>
                            </div>

                        </div>

                        <div class="form-group row">


                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Profesional: </label>


                            <div class="col-4">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                    <%= lista_calificacion_indicadores[0].nombre_profesional %>
                                    </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Identificación: </label>


                            <div class="col-4">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                <%= lista_calificacion_indicadores[0].num_identificacion %>
                                </output>
                            </div>

                        </div>
                        <div class="form-group row">


                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Area:: </label>


                            <div class="col-10">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                    <%= lista_calificacion_indicadores[0].nombre_area %>
                                    </output>
                            </div>

                        </div>

                        <div class="dropdown-divider"></div>

                        <div class="form-group row">


                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Indicador: </label>


                            <div class="col-10">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                    <b> <%= lista_calificacion_indicadores[0].nombre_indicador %></b>
                                    </output>
                            </div>

                        </div>

                        <div class="form-group row">

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Tipo Meta: </label>


                            <div class="col-2">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                <%= lista_calificacion_indicadores[0].tipo_meta %>
                                </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                    vigencia: </label>


                            <div class="col-2">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                    <%= lista_calificacion_indicadores[0].vigencia %>
                                    </output>
                            </div>

                            <label class="col-2 col-form-label" style="font-weight: bold;">
                                Periodo: </label>


                            <div class="col-2">
                                <output class="form-control" type="text" placeholder="" name="txt_tipo_meta" id="txt_tipo_meta" value='<%= lista_calificacion_indicadores[0].tipo_meta %>'>
                                <%= lista_calificacion_indicadores[0].nombre_mes %>
                                </output>
                            </div>

                        </div>

                        <div class="container" id="panel_descriptiva" style=" text-align: center;" hidden>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_meta_descriptiva" style="font-weight: bold;">
                                        Meta descriptiva: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" placeholder="" name="txt_meta_descriptiva" id="txt_meta_descriptiva" value='<%= lista_calificacion_indicadores[0].meta_descriptiva %>'>
                                        <%= lista_calificacion_indicadores[0].meta_descriptiva %>
                                        </output>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_fl_descriptiva" style="font-weight: bold;">Descripcion: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_fl_descriptiva" id="txt_fl_descriptiva" value='<%= lista_calificacion_indicadores[0].formula_literal_descriptiva %>'>
                                        <%= lista_calificacion_indicadores[0].formula_literal_descriptiva %>
                                        </output>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                            Observaciones: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_observacion" id="txt_observacion">
                                        <%= lista_calificacion_indicadores[0].observaciones %>
                                        </output>
                                </div>
                            </div>

                        </div>

                        <div class="container" id="panel_numerica" style=" text-align: center;" hidden>

                            <div class="form-group row">
                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                            Periodo Evaluación</label>

                                <% if (lista_calificacion_indicadores[0].periodo_meta_num == 1) { %>
                                    <div class="col-10">
                                        <output class="form-control" type="text">Mensual</output>
                                    </div>
                                    <% }%>

                                        <% if (lista_calificacion_indicadores[0].periodo_meta_num == 2) { %>
                                            <div class="col-10">
                                                <output class="form-control" type="text">Bimensual</output>
                                            </div>
                                            <% }%>

                                                <% if (lista_calificacion_indicadores[0].periodo_meta_num == 3) { %>
                                                    <div class="col-10">
                                                        <output class="form-control" type="text">Trimestral</output>
                                                    </div>
                                                    <% }%>

                                                        <% if (lista_calificacion_indicadores[0].periodo_meta_num == 4) { %>
                                                            <div class="col-10">
                                                                <output class="form-control" type="text">Cuatrimestral</output>
                                                            </div>
                                                            <% }%>


                                                                <% if (lista_calificacion_indicadores[0].periodo_meta_num == 6) { %>
                                                                    <div class="col-10">
                                                                        <output class="form-control" type="text">Semestral</output>
                                                                    </div>
                                                                    <% }%>

                                                                        <% if (lista_calificacion_indicadores[0].periodo_meta_num == 12) { %>
                                                                            <div class="col-10">
                                                                                <output class="form-control" type="text">Anual</output>
                                                                            </div>
                                                                            <% }%>

                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_meta_numerica" style="font-weight: bold;">
                                            Meta Númerica: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_meta_numerica" id="txt_meta_numerica" value='<%= lista_calificacion_indicadores[0].meta_numerica %>'>
                                            <%= lista_calificacion_indicadores[0].meta_numerica %>
                                        </output>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_fl_numerador" style="font-weight: bold;">
                                            Numerador: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_fl_numerador" id="txt_fl_numerador" value='<%= lista_calificacion_indicadores[0].meta_numerica %>'>
                                            <%= lista_calificacion_indicadores[0].formula_literal_numerador %>
                                        </output>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="txt_fl_denominador" style="font-weight: bold;">
                                            Denominador: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_fl_denominador" id="txt_fl_denominador" value='<%= lista_calificacion_indicadores[0].meta_numerica %>'>
                                                <%= lista_calificacion_indicadores[0].formula_literal_numerador %>
                                            </output>
                                </div>

                            </div>

                            <div class="form-group row">

                                <label class="col-2 col-form-label" style="font-weight: bold;"> Valor Numerador:
                                        </label>

                                <div class="col-1">
                                    <output class="form-control" type="text" name="txt_vr_numerador" id="txt_vr_numerador" value='<%= lista_calificacion_indicadores[0].formula_cifras_numerador %>'>
                                            <%= lista_calificacion_indicadores[0].formula_cifras_numerador %>
                                        </output>
                                </div>
                                <label class="col-form-label" style="font-weight: bold;"> Valor Denominador:
                                        </label>

                                <div class="col-1">
                                    <output class="form-control" type="text" name="txt_vr_denominador" id="txt_vr_denominador" value='<%= lista_calificacion_indicadores[0].formula_cifras_denominador %>'>
                                                <%= lista_calificacion_indicadores[0].formula_cifras_denominador %>
                                            </output>
                                </div>

                                <label class="col-form-label" style="font-weight: bold;"> Resultado:
                                        </label>

                                <div class="col-1">
                                    <output class="form-control" type="text" name="txt_resultado_numerico" id="txt_resultado_numerico" value="">
                                        </div>
                                        <label class="col-form-label" style="font-weight: bold;"> Desviación:
                                        </label>
    
                                        <div class="col-1">
                                            <output class="form-control" type="text" name="txt_desviacion"
                                                id="txt_desviacion" value="">
                                        </div>
    
                                        <div class="col-1">
                                            <output class="form-control" type="text" name="txt_id_reg_indicador" hidden 
                                                id="txt_id_reg_indicador" value='<%= lista_calificacion_indicadores[0].id_registroindicador %>'>
                                                <%= lista_calificacion_indicadores[0].id_registroindicador %>
                                            </output>
                                    <output class="form-control" type="text" name="" id="" value=''>
                                        <input class="form-control" type="text" name="txt_periodo_evaluacion" id="txt_periodo_evaluacion" value='<%= lista_calificacion_indicadores[0].periodo_meta_num %>' hidden>
                                                <%= lista_calificacion_indicadores[0].periodo_meta_num %>
                                            </output>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                            Observaciones: </label>
                                <div class="col-10">
                                    <output class="form-control" type="text" name="txt_observacion" id="txt_observacion">
                                        <%= lista_calificacion_indicadores[0].observaciones %>
                                        </output>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="panel_soportes" class="col-2 col-form-label" style="font-weight: bold;color: blue">
                                    Soportes: </label>
                            <div class="form-group row col-10" id="panel_soportes">

                            </div>
                        </div>


                        <% if (lista_calificacion_indicadores[0].tipo_meta == 'Descriptiva') { %>

                            <div class="form-group row">

                                <label class="col-12 col-form-label" style="font-weight: bold;color: blue;">
                                        Calificación </label>

                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                        Resultado: </label>
                                <div class="col-4">
                                    <select class="form-control" name="select_resultado_descriptivo" id="select_resultado_descriptivo" data-toggle="tooltip" title="Seleccionar Resultado!" data-placement="right" required>
                                            <option selected="selected" value="">Seleccionar</option>
                                            <option value=1>Cumple</option>
                                            <option value=0>No Cumple</option>
                                        </select>
                                </div>
                            </div>

                            <% }%>

                                <div class="form-group row">
                                    <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                            Comentario: </label>
                                    <div class="col-10">
                                        <textarea class="form-control" type="text" name="txt_comentario" id="txt_comentario" value=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <label class="col-2 col-form-label" style="font-weight: bold;">
                                                Aprobado:
                                            </label>
                                    <div class="col-2">
                                        <select class="form-control" name="select_aprobar" id="select_aprobar" data-toggle="tooltip" title="Seleccionar Aprobar!" data-placement="right" required>
                                                    <option selected="selected" value="">Seleccionar</option>
                                                    <option value="1">Si</option>
                                                    <option value="0">No</option>
                                                </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12" style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                                    <div class="text-center">
                                        <button style="font-weight: bold;" class="btn btn-success" id="btn-validar" name="btn-validar" onclick="almacenar_registro()">Guardar
                                                    Calificación Indicador</button>
                                    </div>
                                </div>


                    </form>
                </div>
            </div>
        </div>



        <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

            <iframe src="" title="iframe Vistas control de mando" scrolling="no" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="600px" name="iframe_indicador" id="iframe_indicador">
                </iframe>
        </div>
    </body>





    <script type="text/javascript">
        function almacenar_registro() {

            event.preventDefault();


            var reg_indicador = $('#txt_id_reg_indicador').val();

            var periodo_evaluacion = $('#txt_periodo_evaluacion').val();
            // var indicador = $('#select_indicador').val();
            var vr_numerador = $('#txt_vr_numerador').val();
            var vr_denominador = $('#txt_vr_denominador').val();
            var resultado_numerico = $('#txt_resultado_numerico').val();
            var resultado_descriptivo = $('#select_resultado_descriptivo').val();
            var desviacion = $('#txt_desviacion').val();
            var comentario = $('#txt_comentario').val();
            var estado = $('#select_aprobar').val();

            if (vr_numerador == '') {
                vr_numerador = 0;
                desviacion = 0;
                resultado_numerico = 0;
            }
            if (vr_denominador == '') {
                vr_denominador = 0;
            }



            if (resultado_descriptivo == undefined) {
                resultado_descriptivo = 0;
            }

            var peticion = "/persistir-calificacion-indicador/" +
                "?reg_indicador=" + reg_indicador +
                "&vr_numerador=" + vr_numerador +
                "&vr_denominador=" + vr_denominador +
                "&resultado_numerico=" + resultado_numerico +
                "&resultado_descriptivo=" + resultado_descriptivo +
                "&desviacion=" + desviacion +
                "&comentario=" + comentario +
                "&estado=" + estado;

            $.ajax({
                type: 'post',
                url: peticion,
                data: [],
                contentType: false,
                cache: false,
                processData: false,

                success: function(result) {
                    if (result["status"] == 200) {

                        alert(result["msg"]);

                        $('#preview').show();

                        $('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                        $('#card-msg').show();
                        window.location.replace("/ctm-calificacion-indicadores");
                        $('#formulario')[0].reset();
                        setTimeout(function() {
                            $('#preview').hide();
                        }, 4000);

                    } else {
                        $('#preview').show();

                        $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                        $('#card-msg').show();

                        setTimeout(function() {
                            $('#preview').hide();
                        }, 5000);
                    }
                }

            });

        }



        $(document).ready(function() {

            //alert('<%=lista_calificacion_indicadores["id_registroindicador"] %>' );
            //console.log(lista_calificacion_indicadores);

            var tipo_meta = '<%= lista_calificacion_indicadores[0].tipo_meta %>';

            if (tipo_meta == 'Descriptiva') {
                //alert('es descriptiva ' + tipo_meta);
                $('#panel_numerica').attr('hidden', true);
                $('#panel_descriptiva').attr('hidden', false);



            }
            if (tipo_meta == 'Numerica') {
                //alert('es numerico ' + tipo_meta);
                $('#panel_numerica').attr('hidden', false);
                $('#panel_descriptiva').attr('hidden', true);
                var peticion2 = "/calcular-resultado-numerico/?numerador=" + $('#txt_vr_numerador').val() +
                    "&denominador=" + $('#txt_vr_denominador').val();

                $.ajax({
                    type: 'get',
                    url: peticion2,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(result) {
                        $("#txt_resultado_numerico").html("");
                        //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                        $("#txt_resultado_numerico").append('<option value=' + result + '>' + result + ' </option>');

                        var peticion3 = "/calcular-desviacion/?meta_numerica=" + $('#txt_meta_numerica').val() +
                            "&periodo_evaluacion=" + $('#txt_periodo_evaluacion').val() + "&resultado_numerico=" + $("#txt_resultado_numerico").val();
                        $.ajax({
                            type: 'get',
                            url: peticion3,
                            data: [],
                            contentType: false,
                            cache: false,
                            processData: false,
                            success: function(result2) {
                                $("#txt_desviacion").html("");
                                //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                                $("#txt_desviacion").append('<option value=' + result2 + '>' + result2 + ' </option>');


                            }
                        });

                    }
                });

            }


            var peticion_soportes = "/obtener_soportesxreg_indicador/?id_reg_indicador=<%= lista_calificacion_indicadores[0].id_registroindicador %>";
            $.ajax({
                type: 'get',
                url: peticion_soportes,
                data: [],
                contentType: false,
                cache: false,
                processData: false,
                success: function(result) {
                    $("#panel_soportes").html("");
                    //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                    $("#panel_soportes").html(result);

                }
            });


        });
    </script>