<div style="display: flex;justify-content: center;align-items: center;padding-bottom: 30px">


    <div class="col-md-9 col-md-offset-3" style="padding-bottom: 30px">

        <div class="card border-dark container" style=" text-align: center;">

            <div class="preview text-center" id="preview"
                style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>

            <div class="col-md-12" style="text-align: center;">
                <h3 style="color: #20488f;font-size: 30px;font-weight: bold;" class="">Editar Usuario
                </h3>
            </div>

            <form id="formulario" enctype="multipart/form-data" method="POST">

                <input class="form-control" type="text" placeholder="" name="" id="id_user" value="<%=id_user %>"
                    hidden>

                <div class="card container">

                    <div class="form-group row" style="margin-top: 10px;">
                        <label class="col-2 col-form-label" style="font-weight: bold;">Tipo Identificación:
                        </label>
                        <div class="col-4">
                            <select class="form-control" name="select_tipo_identificacion"
                                id="select_tipo_identificacion" data-toggle="tooltip"
                                title="Seleccionar tipo Identificacion!" data-placement="right" required>


                            </select>
                        </div>
                        <label class="col-3 col-form-label" for="txt_num_identificacion"
                            style="font-weight: bold;">Número de Identificación: </label>
                        <div class="col-3">
                            <input class="form-control" type="text" placeholder="número identificación"
                                name="txt_num_identificacion" id="txt_num_identificacion"
                                value="<%=lista_usuarios[0].num_identificacion %>">
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-2 col-form-label" style="font-weight: bold;">
                            Usuario: </label>
                        <div class="col-4">
                            <input class="form-control" type="text" placeholder="ingresar el usuario" name="txt_usuario"
                                id="txt_usuario" value="<%=lista_usuarios[0].nombre_usuario %>">
                        </div>

                        <label style="font-weight: bold;" class="col-2 col-form-label">Areá Trabajo:</label>

                        <div class="col-4">
                            <select class="form-control" name="select_area" id="select_area" data-toggle="tooltip"
                                title="Seleccionar area de Trabajo!" data-placement="right" required>
                                <option selected="selected" value="<%= lista_usuarios[0].id_area_trabajo %>">
                                    <%= lista_usuarios[0].nombre_area %>
                                </option>
                                <% lista_areas.forEach(lista=> { %>

                                    <option value="<%= lista.id_area %>">
                                        <%= lista.nombre_area %>
                                    </option>
                                    <% }); %>

                            </select>
                        </div>
                    </div>


                    <div class="form-group row">

                        <label class="col-2 col-form-label" style="font-weight: bold;">
                            Contraseña: </label>
                        <div class="col-4">
                            <input class="form-control password1" type="password" placeholder="ingresar contraseña"
                                name="txt_password" id="txt_password" value="<%=lista_usuarios[0].password_ %>"><span
                                class="fa fa-fw fa-eye password-icon show-password"></span>
                        </div>
                        <label class="col-2 col-form-label" style="font-weight: bold;">
                            Repita Contraseña: </label>
                        <div class="col-4">
                            <input class="form-control password2" type="password" placeholder="ingresar contraseña"
                                name="txt_password2" id="txt_password2" value="<%=lista_usuarios[0].password_ %>"><small
                                id="message"></small>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="txt_nombre" style="font-weight: bold;">
                            Nombres: </label>
                        <div class="col-4">
                            <input class="form-control" type="text" placeholder="ingresa los nombres" name="txt_nombre"
                                id="txt_nombre" value="<%=lista_usuarios[0].nombre %>">
                        </div>

                        <label class="col-2 col-form-label" for="txt_apellido" style="font-weight: bold;">
                            Apellidos:&nbsp; </label>
                        <div class="col-4">
                            <input class="form-control" type="text" placeholder="ingresa los apellidos"
                                name="txt_apellido" id="txt_apellido" value="<%=lista_usuarios[0].apellido %>">
                        </div>
                    </div>



                    <div class="form-group row">

                        <label style="font-weight: bold;" class="col-2 col-form-label">Tipo de Rol:</label>

                        <div class="col-3">
                            <select class="form-control" name="select_rol" id="select_rol" data-toggle="tooltip"
                                title="Seleccionar rol!" data-placement="right" required>
                                <option selected="selected" value="<%= lista_usuarios[0].id_rol_user %>">
                                    <%= lista_usuarios[0].nombre_rol %>
                                </option>
                                <% lista_roles.forEach(lista=> { %>
                                    <option value="<%= lista.id_rol %>">
                                        <%= lista.nombre_rol %>
                                    </option>
                                    <% }); %>

                            </select>
                        </div>

                        <div class="form-check col-2">
                            <% if (lista_usuarios[0].es_activo==true ) { %>
                                <input class="form-check-input  " type="checkbox" value="" id="is_active"
                                    name="is_active" checked>
                                <label style="font-weight: bold;" class="form-check-label">
                                    Activo</label>

                                <% }else{%>
                                    <input class="form-check-input  " type="checkbox" value="" id="is_active"
                                        name="is_active">
                                    <label style="font-weight: bold;" class="form-check-label">
                                        Activo</label>
                                    <%}%>


                        </div>

                        <div class="form-check col-2">
                            <% if (lista_usuarios[0].es_profesional==true ) { %>
                                <input class="form-check-input  " type="checkbox" value="" id="is_profesional"
                                    name="is_profesional" checked>
                                <label style="font-weight: bold;" class="form-check-label">
                                    Profesional</label>

                                <% }else{%>
                                    <input class="form-check-input  " type="checkbox" value="" id="is_profesional"
                                        name="is_profesional">
                                    <label style="font-weight: bold;" class="form-check-label">
                                        Profesional</label>
                                    <%}%>


                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="txt_nombre" style="font-weight: bold;">
                            Correo: </label>
                        <div class="col-5">
                            <input class="form-control" type="text" placeholder="ingresar correo" name="txt_correo"
                                id="txt_correo" value="<%=lista_usuarios[0].correo %>">
                        </div>

                        <label class="col-2 col-form-label" for="txt_nombre" style="font-weight: bold;">
                            Telefono: </label>
                        <div class="col-3">
                            <input class="form-control" type="text" placeholder="ingresar telefono" name="txt_telefono"
                                id="txt_telefono" value="<%=lista_usuarios[0].telefono %>">
                        </div>


                    </div>


                    <div class="form-group col-sm-12 text-center"
                        style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                        <button style="font-weight: bold;" class="btn btn-success" id="btn-validar" name="btn-validar"
                            onclick="actualizar_registro()">Guardar</button>
                        <a href="/ctm-profesionales" class="btn btn-default">volver</a>
                    </div>



                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function actualizar_registro() {

        event.preventDefault();

        var tipo_identificacion = $('#select_tipo_identificacion').val();
        var txt_num_identificacion = $('#txt_num_identificacion').val();
        var txt_nombre = $('#txt_nombre').val();
        var txt_apellido = $('#txt_apellido').val();
        var area_trabajo = $('#select_area').val();
        var rol = $('#select_rol').val();
        var correo = $('#txt_correo').val();
        var telefono = $('#txt_telefono').val();
        var nombre_usuario = $('#txt_usuario').val();
        var checkbox_activo = document.getElementById('is_active');
        var activo = true;
        var checkbox_profesional = document.getElementById('is_profesional');
        var profesional = true;

        var password = '#txt_password'.val();

        var peticion = "/actualizar-profesional/?id_user=" + id_user +
            "&rol=" + rol +
            "&rol=" + password +
            "&tipo_identificacion=" + tipo_identificacion +
            "&txt_num_identificacion=" + txt_num_identificacion +
            "&txt_nombre=" + txt_nombre +
            "&txt_apellido=" + txt_apellido +
            "&area_trabajo=" + area_trabajo +
            "&correo=" + correo +
            "&telefono=" + telefono +
            "&nombre_usuario=" + nombre_usuario +
            "&checkbox_activo=" + checkbox_activo +
            "&checkbox_profesional=" + checkbox_profesional;

        $.ajax({
            type: 'post',
            url: peticion,
            data: [],

            success: function (result) {
                if (result["status"] == 200) {

                    console.log("actualizado correctamente...");
                    alert(result["msg"]);

                } else {
                    $('#preview').show();

                    alert(result["msg"]);

                    setTimeout(function () {
                        $('#preview').hide();
                    }, 5000);

                }

            }

        });


    }


    window.addEventListener("load", function () {

        // icono para poder interaccionar con el elemento
        showPassword = document.querySelector('.show-password');
        showPassword.addEventListener('click', () => {

            // elementos input de tipo password
            password1 = document.querySelector('.password1');
            password2 = document.querySelector('.password2');

            if (password1.type === "text") {
                password1.type = "password"
                password2.type = "password"
                showPassword.classList.remove('fa-eye-slash');
            } else {
                password1.type = "text"
                password2.type = "text"
                showPassword.classList.toggle("fa-eye-slash");
            }
        })
    });
    $(document).ready(function () {


        // $('#preview').hide();
        //        $("#txt_password").append('<input value="">' + '<%=lista_usuarios[0].password_ %>');




        if ("<%=lista_usuarios[0].tipo_identificacion %>" == 'CC') {
            $("#select_tipo_identificacion").append('<option selected="selected" value=' + "<%=lista_usuarios[0].tipo_identificacion %>" + '>' + 'Cedula de ciudadania' + ' </option>');
            $("#select_tipo_identificacion").append('<option value=' + "CE" + '>' + 'Cédula de Extranjeria' + ' </option>');
            $("#select_tipo_identificacion").append('<option value=' + "PEP" + '>' + 'Pasaporte' + ' </option>');
        } else if ("<%=lista_usuarios[0].tipo_identificacion %>" == 'CE') {
            $("#select_tipo_identificacion").append('<option selected="selected" value=' + "CC" + '>' + 'Cedula de ciudadania' + ' </option>');
            $("#select_tipo_identificacion").append('<option selected="selected" value=' + "<%=lista_usuarios[0].tipo_identificacion %>" + '>' + 'Cédula de Extranjeria' + ' </option>');
            $("#select_tipo_identificacion").append('<option value=' + "PEP" + '>' + 'Pasaporte' + ' </option>');
        } else if ("<%=lista_usuarios[0].tipo_identificacion %>" == 'PEP') {
            $("#select_tipo_identificacion").append('<option value=' + "CC" + '>' + 'Cedula de ciudadania' + ' </option>');
            $("#select_tipo_identificacion").append('<option value=' + "CE" + '>' + 'Cédula de Extranjeria' + ' </option>');
            $("#select_tipo_identificacion").append('<option selected="selected" value=' + "<%=lista_usuarios[0].tipo_identificacion %>" + '>' + 'Pasaporte' + ' </option>');
        }


    });

    window.addEventListener("load", function () {

        // icono para mostrar contraseña
        showPassword = document.querySelector('.show-password');
        showPassword.addEventListener('click', () => {

            // elementos input de tipo clave
            password1 = document.querySelector('.password1');
            password2 = document.querySelector('.password2');

            if (password1.type === "text") {
                password1.type = "password"
                password2.type = "password"
                showPassword.classList.remove('fa-eye-slash');
            } else {
                password1.type = "text"
                password2.type = "text"
                showPassword.classList.toggle("fa-eye-slash");
            }

        })
    });

    $('#txt_password, #txt_password2').on('keyup', function () {
        if ($('#txt_password').val() == $('#txt_password2').val()) {
            $('#message').html('').css('color', 'green');
        } else
            $('#message').html('Contraseñas no coinciden').css('color', 'red');
    });










</script>
<style>
    .password-icon {
        float: right;
        position: relative;
        margin: -25px 10px 0 0;
        cursor: pointer;
    }
</style>