<div style="display: flex;justify-content: center;align-items: center;padding-bottom: 30px">


    <div class="col-md-12 col-md-offset-12" style="padding-bottom: 30px">

        <div class="card border-dark container" style=" text-align: center;">

            <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>

            <div class="col-md-12" style="text-align: center;">
                <h3 style="color: #20488f;font-size: 30px;font-weight: bold;" class="">Editar Plan.
                </h3>
            </div>

            <form id="formulario" enctype="multipart/form-data" method="POST">
                <input class="form-control" type="text" placeholder="" name="" id="id_indicador" value="<%= id_indicador %>" hidden>
                <div class="form-group row">
                    <label class="col-2 col-form-label" style="font-weight: bold;"> indicador:
                    </label>


                    <div class="col-10">
                        <input class="form-control" type="text" placeholder="plan" name="txt_indicador" id="txt_indicador" value="<%= indicador_info[0].nombre_indicador %>">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" for="select_plan" style="font-weight: bold;">Plan
                        general: </label>

                    <div class="col-10">
                        <select class="form-control" name="select_plan" id="select_plan" data-toggle="tooltip" title="Seleccionar plan General!" data-placement="right" required>


                            <% planes_generales.forEach(lista=> { %>
                                <% if (lista.estado) { %>
                                    <% if (lista.id_plangeneral==indicador_info[0].id_plan_general) { %>

                                        <option selected="selected" value="<%= lista.id_plangeneral %>">
                                            <%= lista.plan_general %>
                                        </option>
                                        <% }else{ %>

                                            <option value="<%= lista.id_plangeneral %>">
                                                <%= lista.plan_general %>
                                            </option>
                                            <% }} %>



                                                <% }); %>
                        </select>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" style="font-weight: bold;">Linea de acción: </label>
                    <div class="col-10">
                        <select class="form-control" name="select_linea" id="select_linea" data-toggle="tooltip" title="Seleccionar Linea de Acción!" data-placement="right" required>


                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-2 col-form-label" style="font-weight: bold;">Objetivo: </label>
                    <div class="col-10">
                        <select class="form-control" name="select_objetivo" id="select_objetivo" data-toggle="tooltip" title="Seleccionar Objetivo!" data-placement="right" required>


                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" style="font-weight: bold;">Estrategia: </label>
                    <div class="col-10">
                        <select class="form-control" name="select_estrategia" id="select_estrategia" data-toggle="tooltip" title="Seleccionar Estrategia!" data-placement="right" required>
                            <option selected="selected" value="">Seleccionar Estrategia
                            </option>

                        </select>

                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" style="font-weight: bold;">Plan de Acción:
                    </label>
                    <div class="col-10">
                        <select class="form-control" name="select_plan_accion" id="select_plan_accion" data-toggle="tooltip" title="Seleccionar Plan de Acción!" data-placement="right" required>
                            <option selected="selected" value="">Seleccionar plan de Acción
                            </option>

                        </select>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-2 col-form-label" style="font-weight: bold;" for="select_objetivo">Area: </label>
                    <div class="col-4">
                        <select class="form-control" name="select_area" id="select_area" data-toggle="tooltip" title="Seleccionar Objetivo!" data-placement="right" required>
                            <option selected="selected" value="">Seleccionar area
                            </option>
                           

                        </select>

                    </div>

                    <label class="col-2 col-form-label" style="font-weight: bold;">
                        Tipo Meta: </label>

                    <div class="col-4">
                        <select class="form-control" name="select_tipo_meta" id="select_tipo_meta" data-toggle="tooltip" title="Seleccionar Plan de Acción!" data-placement="right" required>
                            <option selected="selected" value="">Seleccionar Tipo de meta
                            </option>
                        </select>
                    </div>
                </div>

                <div class="card container" id="panel_descriptiva" style=" text-align: center;" hidden>

                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="txt_meta_descriptiva" style="font-weight: bold;">
                            Meta descriptiva: </label>
                        <div class="col-10">
                            <input class="form-control" type="text" placeholder="Meta Descriptiva" name="txt_meta_descriptiva" id="txt_meta_descriptiva" value="<%= indicador_info[0].meta_descriptiva %>">
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="txt_fl_descriptiva" style="font-weight: bold;">Formula
                            Literal Descriptiva : </label>
                        <div class="col-9">
                            <input class="form-control" type="text" placeholder="Formula literal Descriptiva" name="txt_fl_descriptiva" id="txt_fl_descriptiva" value="<%= indicador_info[0].formula_literal_descriptiva %>">
                        </div>

                    </div>

                </div>

                <div class="card container" id="panel_numerica" style=" text-align: center;" hidden>

                    <div class="form-group row">
                        <label class="col-2 col-form-label" style="font-weight: bold;">
                            Periodo Evaluación: </label>
                        <div class="col-10">
                            <select class="form-control" name="select_per_evaluacion" id="select_per_evaluacion" data-toggle="tooltip" title="Seleccionar Periodo de evaluacion!" data-placement="right" required>
                                <option selected="selected" value="">Seleccionar Periodo evaluación
                                </option>
                              
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="txt_meta_numerica" style="font-weight: bold;">
                            Meta Númerica: </label>
                        <div class="col-10">
                            <input class="form-control" type="text" placeholder="Meta numerica" name="txt_meta_numerica" id="txt_meta_numerica" value="<%= indicador_info[0].meta_numerica %>">
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="txt_fl_numerador" style="font-weight: bold;">
                            Formula literal Numerador: </label>
                        <div class="col-9">
                            <input class="form-control" type="text" placeholder="numerador" name="txt_fl_numerador" id="txt_fl_numerador" value="<%= indicador_info[0].formula_literal_numerador %>">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="txt_fl_denominador" style="font-weight: bold;">
                            Formula literal Denominador: </label>
                        <div class="col-9">
                            <input class="form-control" type="text" placeholder="Denominador" name="txt_fl_denominador" id="txt_fl_denominador" value="<%= indicador_info[0].formula_literal_denominador %>">
                        </div>

                    </div>
                </div>

                <div class="form-group row" style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                    <div class="text-center">
                        <button style="font-weight: bold;" class="btn btn-success " id="btn-validar" name="btn-validar" onclick="actualizar_registro()">Actualizar</button>
                        <a href="/lista-ctm-indicadores" class="btn btn-default">volver</a>
                    </div>
                </div>
        </div>

        </form>
    </div>
</div>
</div>

<script type="text/javascript">
    function actualizar_registro() {
        event.preventDefault();


        var id_indicador = $('#id_indicador').val();
        var nombre_indicador = $('#txt_indicador').val();
        var id_plan_accion = $('#select_plan_accion').val();
        //var id_estrategia = $('#select_estrategia').val();
        var id_area = $('#select_area').val();
        var tipo_meta = $('#select_tipo_meta').val();
        var meta_descriptiva = $('#txt_meta_descriptiva').val();
        var periodo_evaluacion = $('#select_per_evaluacion').val();
        var meta_numerica = $('#txt_meta_numerica').val();
        var formula_literal_descriptiva = $('#txt_fl_descriptiva').val();
        var formula_literal_numerador = $('#txt_fl_numerador').val();
        var formula_literal_denominador = $('#txt_fl_denominador').val();


        if (tipo_meta == 'Descriptiva') {
            meta_numerica = 0;
            formula_literal_numerador = "";
            formula_literal_denominador = "";

        } else {

            meta_descriptiva = "";
            formula_literal_descriptiva = "";

        }

        var peticion = "/actualizar-indicador/?id_indicador=" + id_indicador + "&nombre_indicador=" + nombre_indicador +
            "&id_plan_accion=" + id_plan_accion +
            "&id_area=" + id_area +
            "&meta_numerica=" + meta_numerica +
            "&meta_descriptiva=" + meta_descriptiva +
            "&formula_literal_descriptiva=" + formula_literal_descriptiva +
            "&periodo_evaluacion=" + periodo_evaluacion +
            "&formula_literal_numerador=" + formula_literal_numerador +
            "&formula_literal_denominador=" + formula_literal_denominador +
            "&tipo_meta=" + tipo_meta;





        $.ajax({
            type: 'post',
            url: peticion,
            data: [],

            success: function(result) {

                if (result["status"] == 200) {
                    console.log("actualizado correctamente...");

                    alert(result["msg"]);
                    alert();



                } else {
                    $('#preview').show();

                    alert(result["msg"]);

                    setTimeout(function() {
                        $('#preview').hide();
                    }, 5000);
                }

            }

        });


    }

    $(document).ready(function() {

        $('#preview').hide();
        // document.getElementById("select_plan").title = 'Debe elegir un plan general'
        var peticion = "/consultar-lineas-accion_x_plan_general/?id_plan_gral=" + '<%= indicador_info[0].id_plan_general %>';

        $.ajax({

            type: 'get',
            url: peticion,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function(result) {

                //select_linea
                $("#select_linea").html("");

                //$("#select_linea").append('<option selected="selected">' + 'Seleccionar linea de acción' + '</option>');
                if (result.length == 0) {

                    $("#select_linea").html("");
                    $("#select_linea").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else {

                    result.forEach(element => {

                        if (element.id_linea == '<%= indicador_info[0].id_linea_accion %>') {
                            $("#select_linea").append('<option value=' + element.id_linea + ' selected="selected">' + element.linea_accion + '</option>');
                        } else {
                            $("#select_linea").append('<option value=' + element.id_linea + '>' + element.linea_accion + '</option>');
                        }

                    });
                }

            }

        });

        //lalmado de objetivo <%= indicador_info[0].id_objetivo %>

        var peticion = "/consultar-objetivo-x-lineas-accion/?id_linea_accion=" + '<%= indicador_info[0].id_linea_accion %>';

        $.ajax({

            type: 'get',
            url: peticion,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function(result) {

                //select_linea
                $("#select_objetivo").html("");


                if (result.length == 0) {

                    $("#select_objetivo").html("");
                    $("#select_objetivo").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else {
                    $("#select_objetivo").append('<option value="0" selected="selected">' + 'Elegir una opción' + '</option>');
                    result.forEach(element => {

                        if (element.id_linea_accion == '<%= indicador_info[0].id_linea_accion %>') {
                            $("#select_objetivo").append('<option value=' + element.id_objetivo + ' selected="selected">' + element.objetivo + '</option>');
                        } else {
                            $("#select_objetivo").append('<option value=' + element.id_objetivo + '>' + element.objetivo + '</option>');
                        }

                    });
                }

            }

        });


        //llamado estrategias
        var peticion = "/consultar-estrategia-x-objetivo/?id_objetivo=" + '<%= indicador_info[0].id_objetivo %>';

        $.ajax({

            type: 'get',
            url: peticion,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function(result) {

                if (result.length == 0) {

                    $("#select_estrategia").html("");
                    $("#select_estrategia").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else {

                    //select_linea
                    $("#select_estrategia").html("");

                    $("#select_estrategia").append('<option selected="selected">' + 'Seleccionar Estrategia' + '</option>');

                    result.forEach(element => {
                        if (element.id_estrategia == '<%= indicador_info[0].id_estrategia %>') {

                            $("#select_estrategia").append('<option value=' + element.id_estrategia + ' selected="selected">' + element.estrategia + '</option>');
                        } else {
                            $("#select_estrategia").append('<option value=' + element.id_estrategia + '>' + element.estrategia + '</option>');
                        }

                    });

                }

            }

        });

        //llamado plan de accion
        var peticion = "/consultar-plan-accion-x-estrategia/?id_estrategia=" + '<%= indicador_info[0].id_estrategia %>';

        $.ajax({

            type: 'get',
            url: peticion,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function(result) {

                if (result.length == 0) {

                    $("#select_plan_accion").html("");
                    $("#select_plan_accion").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else {

                    //select_linea
                    $("#select_plan_accion").html("");

                    $("#select_plan_accion").append('<option selected="selected">' + 'Seleccionar Estrategia' + '</option>');

                    result.forEach(element => {
                        if (element.id_plan == '<%= indicador_info[0].id_plan %>') {

                            $("#select_plan_accion").append('<option value=' + element.id_plan + ' selected="selected">' + element.plan + '</option>');

                        } else {
                            $("#select_plan_accion").append('<option value=' + element.id_plan + '>' + element.plan + '</option>');
                        }

                    });

                }

            }

        });

        //llamado indicadores
        var peticion = "/consultar-tipometa-area-x-plan/?id_plan=" + '<%= indicador_info[0].id_plan %>';

        $.ajax({

            type: 'get',
            url: peticion,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function(result) {

                if (result.length == 0) {

                    $("#select_tipo_meta").html("");
                    $("#select_tipo_meta").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else {

                    $("#select_tipo_meta").html("");

                    $("#select_tipo_meta").append('<option selected="selected">' + 'Seleccionar Tipo Meta' + '</option>');

                    result.forEach(element => {
                        if (element.tipo_meta == '<%= indicador_info[0].tipo_meta %>') {

                            $("#select_tipo_meta").append('<option value=' + element.tipo_meta + ' selected="selected">' + element.tipo_meta + '</option>');

                            //mostrar panel segun tipo de meta
                            if ($('#select_tipo_meta').val() == "Descriptiva") {
                                $('#panel_numerica').attr('hidden', true);
                                $('#panel_descriptiva').attr('hidden', false);
                                $("#select_tipo_meta").append('<option value="Numerica">Númerica</option>');

                            } else {
                                $('#panel_numerica').attr('hidden', false);
                                $('#panel_descriptiva').attr('hidden', true);
                                $("#select_tipo_meta").append('<option value="Descriptiva">Descriptiva</option>');
                            }
                        }

                    });

                }

            }

        });



        //consultar areas

        var peticion = "/consultar-areaxid/?id_area=" + '<%= indicador_info[0].id_area %>';

        $.ajax({

            type: 'get',
            url: peticion,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function(result) {

                if (result.length == 0) {

                    $("#select_area").html("");
                    $("#select_area").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else {

                    $("#select_area").html("");

                    //$("#select_area").append('<option selected="selected">' + 'Seleccionar area' + '</option>');
                    // $("#select_area").append('<option value=' + element.id_area + '>' + element.nombre_area + '</option>');

                    result.forEach(element => {
                        if (element.id_area == '<%= indicador_info[0].id_area %>') {

                            $("#select_area").append('<option value=' + element.id_area + ' selected="selected">' + element.nombre_area + '</option>');

                            //mostrar panel segun tipo de meta

                        } else {
                            $("#select_area").append('<option value=' + element.id_area + '>' + element.nombre_area + '</option>');

                        }

                    });

                }

            }

        });


        //llamado registro  indicadores
        var peticion = "/consultar-periodo-evaluacion-x-id-indicador/?id_indicador=" + '<%= indicador_info[0].id_indicador %>';

        $.ajax({

            type: 'get',
            url: peticion,
            data: [],
            contentType: false,
            cache: false,
            processData: false,

            success: function(result) {

                if (result.length == 0) {

                    $("#select_per_evaluacion").html("");
                    $("#select_per_evaluacion").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                } else {

                    $("#select_per_evaluacion").html("");

                    $("#select_per_evaluacion").append('<option selected="selected">' + 'Seleccionar Periodo evaluacón' + '</option>');

                    result.forEach(element => {
                        if (element.periodo_meta_num == 1) {
                            $("#select_per_evaluacion").append('<option value=' + element.periodo_meta_num + ' selected="selected">Mensual</option>');
                            $("#select_per_evaluacion").append('<option value="2">Bimensual</option>');
                            $("#select_per_evaluacion").append('<option value="3">Trimestral</option>');
                            $("#select_per_evaluacion").append('<option value="4">Cuatrimestral</option>');
                            $("#select_per_evaluacion").append('<option value="6">Semnestral</option>');
                            $("#select_per_evaluacion").append('<option value="12">Anual</option>');
                        } else if (element.periodo_meta_num == 2) {
                            $("#select_per_evaluacion").append('<option value="2">Mensual</option>');
                            $("#select_per_evaluacion").append('<option value=' + element.periodo_meta_num + ' selected="selected">Bimensual</option>');
                            $("#select_per_evaluacion").append('<option value="3">Trimestral</option>');
                            $("#select_per_evaluacion").append('<option value="4">Cuatrimestral</option>');
                            $("#select_per_evaluacion").append('<option value="6">Semnestral</option>');
                            $("#select_per_evaluacion").append('<option value="12">Anual</option>');
                        } else if (element.periodo_meta_num == 3) {
                            $("#select_per_evaluacion").append('<option value="1">Mensual</option>');
                            $("#select_per_evaluacion").append('<option value="2">Bimensual</option>');
                            $("#select_per_evaluacion").append('<option value=' + element.periodo_meta_num + ' selected="selected">Trimestral</option>');
                            $("#select_per_evaluacion").append('<option value="4">Cuatrimestral</option>');
                            $("#select_per_evaluacion").append('<option value="6">Semnestral</option>');
                            $("#select_per_evaluacion").append('<option value="12">Anual</option>');
                        } else if (element.periodo_meta_num == 4) {
                            $("#select_per_evaluacion").append('<option value="1">Mensual</option>');
                            $("#select_per_evaluacion").append('<option value="2">Bimensual</option>');
                            $("#select_per_evaluacion").append('<option value="3">Trimestral</option>');
                            $("#select_per_evaluacion").append('<option value=' + element.periodo_meta_num + ' selected="selected">Cuatrimestral</option>');
                            $("#select_per_evaluacion").append('<option value="6">Semnestral</option>');
                            $("#select_per_evaluacion").append('<option value="12">Anual</option>');
                        } else if (element.periodo_meta_num == 6) {
                            $("#select_per_evaluacion").append('<option value="1">Mensual</option>');
                            $("#select_per_evaluacion").append('<option value="2">Bimensual</option>');
                            $("#select_per_evaluacion").append('<option value="3">Trimestral</option>');
                            $("#select_per_evaluacion").append('<option value="4">Cuatrimestral</option>');
                            $("#select_per_evaluacion").append('<option value=' + element.periodo_meta_num + ' selected="selected">Semestral</option>');
                            $("#select_per_evaluacion").append('<option value="12">Anual</option>');
                        } else if (element.periodo_meta_num == 12) {
                            $("#select_per_evaluacion").append('<option value="1">Mensual</option>');
                            $("#select_per_evaluacion").append('<option value="2">Bimensual</option>');
                            $("#select_per_evaluacion").append('<option value="3">Trimestral</option>');
                            $("#select_per_evaluacion").append('<option value="4">Cuatrimestral</option>');
                            $("#select_per_evaluacion").append('<option value="6">Semnestral</option>');
                            $("#select_per_evaluacion").append('<option value=' + element.periodo_meta_num + ' selected="selected">Anual</option>');

                        }

                    });

                }

            }

        });




        $("#select_plan").change(function() {
            //$("#btn-subir").prop("disabled", true);
            //$('#files').attr("disabled", true);
            // $('#nombre_ips').text($("#cbxips option:selected").text().trim());
            //$('#nombre_ips').val($("#cbxips option:selected").text().trim());
            //alert("selecciono la opcion --> " +$("#select_plan option:selected").val());

            var peticion = "/consultar-lineas-accion_x_plan_general/?id_plan_gral=" + $(this).val();

            $.ajax({

                type: 'get',
                url: peticion,
                data: [],
                contentType: false,
                cache: false,
                processData: false,

                success: function(result) {

                    //select_linea
                    $("#select_linea").html("");


                    if (result.length == 0) {

                        $("#select_linea").html("");
                        $("#select_linea").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                    } else {

                        result.forEach(element => {

                            if (element.id_linea == '<%= indicador_info[0].id_linea_accion %>') {
                                $("#select_linea").append('<option value=' + element.id_linea + ' selected="selected">' + element.linea_accion + '</option>');
                            } else {
                                $("#select_linea").append('<option value=' + element.id_linea + '>' + element.linea_accion + '</option>');
                            }

                        });
                    }




                }

            });


        });

        $("#select_linea").change(function() {
            //$("#btn-subir").prop("disabled", true);
            //$('#files').attr("disabled", true);
            // $('#nombre_ips').text($("#cbxips option:selected").text().trim());
            //$('#nombre_ips').val($("#cbxips option:selected").text().trim());
            //alert("selecciono la opcion --> " +$("#select_linea option:selected").val());

            var peticion = "/consultar-objetivo-x-lineas-accion/?id_linea_accion=" + $(this).val();

            $.ajax({

                type: 'get',
                url: peticion,
                data: [],
                contentType: false,
                cache: false,
                processData: false,

                success: function(result) {

                    //select_linea
                    $("#select_objetivo").html("");


                    if (result.length == 0) {

                        $("#select_objetivo").html("");
                        $("#select_objetivo").append('<option value="0" selected="selected">' + 'No hay opciones disponibles' + '</option>');

                    } else {
                        $("#select_objetivo").append('<option value="0" selected="selected">' + 'Elegir una opción' + '</option>');
                        result.forEach(element => {

                            if (element.id_linea == '<%= indicador_info[0].id_objetivo %>') {
                                $("#select_objetivo").append('<option value=' + element.id_objetivo + ' selected="selected">' + element.id_objetivo + '</option>');
                            } else {
                                $("#select_objetivo").append('<option value=' + element.id_objetivo + '>' + element.id_objetivo + '</option>');
                            }

                        });
                    }

                }

            });


        });

        $("#select_objetivo").change(function() {
            //$("#btn-subir").prop("disabled", true);
            //$('#files').attr("disabled", true);
            // $('#nombre_ips').text($("#cbxips option:selected").text().trim());
            //$('#nombre_ips').val($("#cbxips option:selected").text().trim());
            //alert("selecciono la opcion --> " +$("#select_linea option:selected").val());

            var peticion = "/consultar-estrategia-x-objetivo/?id_objetivo=" + $(this).val();

            $.ajax({

                type: 'get',
                url: peticion,
                data: [],
                contentType: false,
                cache: false,
                processData: false,

                success: function(result) {

                    //select_linea
                    $("#select_estrategia").html("");

                    $("#select_estrategia").append('<option selected="selected">' + 'Seleccionar Estrategia' + '</option>');

                    result.forEach(element => {

                        //$("#select_linea").append('<option value='+result[0].id_linea+'>'+result[0].linea_accion+'</option>');

                        $("#select_estrategia").append('<option value=' + element.id_estrategia + '>' + element.estrategia + '</option>');

                    });

                }

            });


        });


        $("#select_estrategia").change(function() {
            //$("#btn-subir").prop("disabled", true);
            //$('#files').attr("disabled", true);
            // $('#nombre_ips').text($("#cbxips option:selected").text().trim());
            //$('#nombre_ips').val($("#cbxips option:selected").text().trim());
            //alert("selecciono la opcion --> " +$("#select_linea option:selected").val());

            var peticion = "/consultar-plan-accion-x-estrategia/?id_estrategia=" + $(this).val();

            $.ajax({

                type: 'get',
                url: peticion,
                data: [],
                contentType: false,
                cache: false,
                processData: false,

                success: function(result) {

                    //select_linea
                    $("#select_plan_accion").html("");

                    $("#select_plan_accion").append('<option selected="selected">' + 'Seleccionar Estrategia' + '</option>');

                    result.forEach(element => {

                        //$("#select_linea").append('<option value='+result[0].id_linea+'>'+result[0].linea_accion+'</option>');

                        $("#select_plan_accion").append('<option value=' + element.id_plan + '>' + element.plan + '</option>');

                    });

                }

            });


        });

        $("#select_tipo_meta").change(function() {
            if ($('#select_tipo_meta').val() == "Descriptiva") {
                $('#panel_numerica').attr('hidden', true);
                $('#panel_descriptiva').attr('hidden', false);
            } else {
                $('#panel_numerica').attr('hidden', false);
                $('#panel_descriptiva').attr('hidden', true);
            }

        });



    });
</script>