<%- include("test_header_new"); %>


    <style>
        body::-webkit-scrollbar {
            display: none;
            overflow-y: hidden;
        }
    </style>

    <body id="body_ent" class="container-fluid">
        <div class="row" style=" margin-top: 80px; padding: 10px;margin-left: 10px;">
            <div>

                <form action="/config-entidades" method="GET">
                    <button class="btn btn-submit btn-primary btn-sm" id="btn-edit" name="btn-edit" style="float: right;">
                                <i class="fas fa-arrow-left"></i> regresar
                            </button>

                </form>
            </div>
        </div>

        <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 30px">


            <div class="col-md-9 col-md-offset-3" style="padding-bottom: 30px">

                <div class="card border-dark container" style=" text-align: center;">

                    <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                        <div class="card col-md-12" id="card-msg">


                        </div>
                    </div>

                    <form id="formulario" enctype="multipart/form-data" method="">

                        <div class="col-md-12" style="text-align: center;">
                            <h3 style="color: #20488f;font-size: 30px;font-weight: bold;" class="">Editar Entidad.
                            </h3>
                        </div>

                        <div class="well">
                            <input type="text" id="id_ent" name="id_ent" style="display: none;" value="<%= res_id_entidad %>">



                            <div class="form-group col-sm-12 col-md-12 col-xs-12">
                                <label for="" style="font-weight: bold;">Codigo de
                                            entidad</label><br>

                                <input class="col-sm-12 col-md-12 col-xs-12" type="text" name="cod_entidad" id="cod_entidad" value="<%= res_cod_ent %>">


                            </div>

                            <div class="form-group col-sm-12 col-md-12 col-xs-12">
                                <label class="" style="font-weight: bold;"> Nombre de
                                            entidad</label><br>

                                <input class="col-sm-12 col-md-12 col-xs-12" type="text" name="nombre_entidad" id="nombre_entidad" value="<%= res_nombre_ent %>">

                            </div>

                            <div class="form-group col-sm-5 col-md-12">
                                <label style="font-weight: bold;">Regimen que aplica a la
                                            entidad:</label>
                                <select class="form-select form-group form-control input-sm col-sm-12 col-md-12 col-xs-12" name="tipo_reg" id="tipo_reg" data-toggle="tooltip" title="Seleccionar Regimen!" data-placement="right" required>

                                            <% if (res_tipo_reg=="C" ) { %>
                                                <option selected="selected" value="C">Contributivo</option>
                                                <option value="S">Subsidiado</option>
                                                <option value="V">Vinculado</option>
                                                <option value="E">Especial</option>
                                                <option value="O">Otro</option>
                                                <% }else if(res_tipo_reg=="S" ){ %>
                                                    <option value="C">Contributivo</option>
                                                    <option selected="selected" value="S">Subsidiado</option>
                                                    <option value="V">Vinculado</option>
                                                    <option value="E">Especial</option>
                                                    <option value="O">Otro</option>
                                                    <% }else if(res_tipo_reg=="V" ){%>
                                                        <option value="C">Contributivo</option>
                                                        <option value="S">Subsidiado</option>
                                                        <option selected="selected" value="V">Vinculado</option>
                                                        <option value="E">Especial</option>
                                                        <option value="O">Otro</option>

                                                        <% }else if(res_tipo_reg=="E" ){%>
                                                            <option value="C">Contributivo</option>
                                                            <option value="S">Subsidiado</option>
                                                            <option value="V">Vinculado</option>
                                                            <option selected="selected" value="E">Especial</option>
                                                            <option value="O">Otro</option>
                                                            <% }else {%>
                                                                <option value="C">Contributivo</option>
                                                                <option value="S">Subsidiado</option>
                                                                <option value="V">Vinculado</option>
                                                                <option value="E">Especial</option>
                                                                <option selected="selected" value="O">Otro</option>

                                                                <%}%>
                                        </select>
                            </div>


                            <div class="form-group">
                                <div class="text-center">
                                    <button style="font-weight: bold;" type="submit" class="btn btn-success btn-sm" id="btn-validar" name="btn-validar" onclick="actualizar_registro()">Actualizar
                                                Registro</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </body>


    <script type="text/javascript">
        function actualizar_registro() {
            var cod_entidad = $('#cod_entidad').val();
            var nombre_entidad = $('#nombre_entidad').val();
            var tipo_reg = $('#tipo_reg').val();
            var id = $('#id_ent').val();

            var peticion = "/actualizar-entidad/?cod_entidad=" + cod_entidad + "&nombre_entidad=" + nombre_entidad + "&tipo_reg=" + tipo_reg + "&id_ent=" + id;

            $.ajax({
                type: 'post',
                url: peticion,
                data: [],

                success: function(result) {

                    //history.replaceState("/config-entidades", "Nueva Entidad Bips", "/config-entidades");

                    /*setTimeout(function() {
                        window.location.reload(1);
                    }, 5000);*/
                    if (result["status"] == 200) {

                        console.log("actualizado correctamente...");
                        //history.replaceState("/form-editar-entidad", "Editar Entidad Bips", "/form-editar-entidad");


                    } else {
                        $('#preview').show();

                        $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                        $('#card-msg').show();

                        setTimeout(function() {
                            $('#preview').hide();
                        }, 5000);

                        //$('#formulario')[0].reset();

                        //$('#cod_entidad').focus();

                    }

                    //$('#body_ent').html(result);


                }

            });


        }

        $(document).ready(function(event) {
            history.replaceState("/form-editar-entidad", "Editar Entidad Bips", "/form-editar-entidad");


            //window.location.reload(1);
            $('#preview').hide();

        });
    </script>
    <%- include("footer"); %>