
    <%- include("test_header_new"); %>

        


            <body id="body_ent" name="body_ent">

                <div class="panel_registro">
                    <div class="container-fluid" id="lista_reg-planos" name="lista_reg-planos">

                        <div class="container" style="margin-top:5px;padding-top: 5px; margin-bottom: 0px;">

                            <div class="col-12">
                                <h3 class="titulo-tabla">Registro de Entidades/Regimen
                                    <button class="btn btn-success" id="btn-nuevo" name="btn-nuevo" onclick="nuevo_registro()" style="float: right;" value="">
                                        <i class="fas fa-plus"></i> crear Entidad
                                    </button>



                                </h3>



                                <% const m=getMessages() %>

                                    <% if (m.notify) { %>

                                        <div class="card" style="margin-top: 20px;" id="card-success">
                                            <div class="card-header text-white bg-success mb-3 container-fluid" id="btn-cerrar-ok">
                                                <strong>OK!</strong>
                                                <button type="button" id="btn-cerrar-success" class="close" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="card-body">

                                                <% m.notify.forEach((element)=> { %>

                                                    <%= element %>
                                                        <% }) %> %>
                                            </div>


                                        </div>

                                        <% } %>
                                            <% if (m.error) { %>

                                                <div class="card " style="margin-top: 20px;" id="card-error">
                                                    <div class="card-header text-white bg-danger mb-3 container-fluid" id="btn-cerrar-err">
                                                        <strong>Error!</strong>
                                                        <button type="button" id="btn-cerrar-err" class="close" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="card-body">

                                                        <% m.error.forEach((element)=> { %>

                                                            <%= element %>
                                                                <% }) %> %>
                                                    </div>

                                                </div>

                                                <% } %>

                                                    <table class="table table-bordered table-striped" id="tbl_registros">
                                                        <thead class="head-tabla-reg">
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Codigo Entidad</th>
                                                                <th>Nombre Entidad</th>
                                                                <th>Regimen</th>
                                                                <th>Acciones</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% registroEntidades.forEach(registro=> { %>
                                                                <tr>
                                                                    <td><%= registro.id_entidad %></td>
                                                                    <td>
                                                                        <%= registro.cod_entidad %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (registro.nombre_entidad==null || registro.nombre_entidad == "") { %>

                                                                            <%= "No Asignado" %> 
                                                                                <% }else{%>
                                                                                    <%= registro.nombre_entidad %>
                                                                                        <%}%>

                                                                    </td>
                                                                    <td>
                                                                        <%= registro.des_regimen %>
                                                                    </td>
                                                                    <td>
                                                                        <div class="btn-group">
                                                                            <form method="post" class="form" action="/eliminar-popup-entidad/<%= registro.cod_entidad %>/archivo-bips/?regimen=<%= registro.des_regimen %>&nombre_entidad=<%= registro.nombre_entidad %>">
                                                                                <button class="btn btn-danger btn-submit" value="<%= registro.cod_entidad %>"> <i class="fas fa-ban"></i> Eliminar</button>
                                                                            </form>
                                                                            <form class="form">
                                                                               <!-- <button class="btn btn-primary btn-submit"  value="<%= registro.cod_entidad %>">Editar</button>-->
                                                                                <input type="button" id="" name="" onclick="editar_registro('<%= registro.id_entidad %>')" class="btn btn-success btn-submit btn-editar" value="Editar">
                                                                            </form>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <% })%>
                                                        </tbody>
                                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </body>


            <script type="text/javascript">
                function nuevo_registro() {
                    $.ajax({
                        type: 'get',
                        url: "/form-crear-entidad",
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {


                            history.replaceState("/form-crear-entidad", "Nueva Entidad Bips", "/form-crear-entidad");

                            
                                window.location.reload(1);
                            


                            $('#body').html(result);
                        }

                    });
                }

                function editar_registro(cod_entidad) {

                    const peticion = "/form-editar-entidad/" + cod_entidad;

                    $.ajax({
                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {
                            
                            history.replaceState("/form-editar-entidad", "Editar Entidad Bips", "/form-editar-entidad");                            
                            $('#body_ent').html(result);
                            
                        }

                    });
                }

                $('#btn-cerrar-success').click(function() {
                    $('#card-success').attr("style", "display:none");

                });

                $('#btn-cerrar-err').click(function() {
                    $('#card-error').attr("style", "display:none");

                });


                $(document).ready(function() {
                               

                    $('#tbl_registros').DataTable({

                        //Actualizo las etiquetas de mi tabla para mostrarlas en español
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            //"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                        }

                    });





                    setTimeout(function() {
                        $('#card-success').hide();
                    }, 5000);


                    $('#card-success').show();



                });
            </script>


            <style>
                #tbl_registros {
                    font-size: small;
                    font-family: 'Montserrat', sans-serif;
                    border-spacing: 0px !important;
                    padding: 0px;
                }
                
                #tbl_registros th {
                    padding: 7px;
                }
                
                #tbl_registros td {
                    padding: 0;
                }
                
                .head-tabla-reg {
                    background-color: #3f78da;
                    color: #fff;
                }
                
                .titulo-tabla {
                    color: #20488f;
                }
                
                .paginate_button {
                    font-family: 'Montserrat', sans-serif;
                    border-radius: 5px;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    transition: .3s ease all;
                    font-weight: bold;
                }
                
                .form .btn-submit {
                    font-family: 'Montserrat', sans-serif;
                    border-radius: 5px;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    transition: .3s ease all;
                    font-weight: bold;
                }
                .form .btn-editar {
                    font-family: 'Montserrat', sans-serif;
                    border-radius: 5px;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    transition: .3s ease all;
                    font-weight: bold;
                }
                
                #btn-nuevo {
                    font-family: 'Montserrat', sans-serif;
                    border-radius: 5px;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    transition: .3s ease all;
                }
            </style>




            <%- include("footer"); %>