<%- include("header"); %>
    <%- include("head"); %>
        <div class="container-fluid">

            <div class="row" style="margin-top:70px">


                <div class="col-md-3" style="margin-top:30px;margin-left: 20px;">

                    <div class="form-group row">


                        <div class="panel panel-primary">

                            <div class="panel-heading">Carga Archivos Planos</div>

                            <div class="panel-body">
                                <form>

                                    <div class="form-group col-md-12 col-sm-7">

                                        <label>Seleccionar IPS</label>

                                        <select class="form-select col-md-12 col-sm-7" aria-label=".form-select-lg example">

                                        <% listaIps.forEach(lista=> { %>                                    
                                            <option value="<%= lista.idips %>">
                                                <%= lista.codigo_ips + "(" + lista.descripcion_ips +")" %>
                                            </option>                                 
                                        <% }); %>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-5">
                                        <label for="fecha_ini">Fecha inicial</label>
                                        <div>
                                            <input type="text" class="form-group col-md-12 col-sm-8" name="txtfecha_inicial" value="01/01/2020" />
                                            <script>
                                                $(function() {
                                                    $('input[name="txtfecha_inicial"]').daterangepicker({
                                                        singleDatePicker: true,
                                                        showDropdowns: true,
                                                        minYear: 2018,
                                                        maxYear: moment()
                                                    });
                                                });
                                            </script>

                                        </div>

                                    </div>

                                    <div class="form-group col-md-6 col-sm-5">
                                        <label for="fecha_ini">Fecha Final</label>
                                        <div>
                                            <input type="text" class="form-group col-md-12 col-sm-8" name="txtfecha_fin" />
                                            <script>
                                                $(function() {
                                                    $('input[name="txtfecha_fin"]').daterangepicker({
                                                        singleDatePicker: true,
                                                        showDropdowns: true,
                                                        minYear: 2018,
                                                        maxYear: moment()
                                                    });
                                                });
                                            </script>

                                        </div>

                                    </div>


                                    <div class="form-group col-md-12" style="text-align: center;">
                                        <div>
                                            <button type="submit" class="btn btn-primary">Consultar Registros</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="form-group row">
                                    <form id="formulario" enctype="multipart/form-data" method="POST" class="navbar-form navbar-left">

                                        <input type="file" name="files" id="files" class="form-group col-md-12 col-sm-8">
                                        <p>&nbsp;</p>
                                        <button class="btn btn-primary btn-md" id="btn-subir" name="btn-subir" disabled="disabled">Subir</button>

                                        <div class="preview">
                                            <div id="datos"></div>
                                        </div>

                                    </form>
                                </div>


                            </div>

                        </div>



                    </div>
                </div>


                <div class="col-md-8">
                    <div class="col-md-12 embed-responsive embed-responsive-16by9">
                        <iframe src="listadoArchivos" title="Archivos cargados" class="embed-responsive-item" name="iframe_arch" id="iframe_arch">
                        </iframe>
                    </div>
                </div>

            </div>

            <script>
                $(document).ready(function() {

                    const $form = document.querySelector('#formulario');


                    $("#files").change(function() {
                        $("#btn-subir").prop("disabled", this.files.length == 0);
                    });

                    $form.addEventListener('submit', (event) => {

                        event.preventDefault();


                        $.ajax({
                            type: 'POST',
                            url: '/files',
                            data: new FormData($form),
                            contentType: false,
                            cache: false,
                            processData: false,

                            beforeSend: function() {
                                $('#datos').html('<p>Procesando...</p>');
                            },
                            error: function() {
                                $('#datos').html('<p><span class="glyphicon glyphicon-warning-sign" style="color:red"></span> Solo se permiten archivos .csv');
                                $('#formulario')[0].reset();

                            },
                            success: function(result) {

                                $('#formulario')[0].reset();
                                //$('#datos').html('');
                                $('#btn-subir').attr("disabled", true);

                                $('#datos').html('<p><span class="glyphicon glyphicon-ok" style="color:green"></span>' + JSON.stringify(result['respuesta']) + '</p>');

                                $("#iframe_arch").show();
                                var iframe = document.getElementById('iframe_arch')
                                $('#iframe_arch').attr("src", iframe.src);
                                alert("Los archivos se cargaron correctamente!");

                            }

                        });

                    });

                });
            </script>

        </div>

        <%- include("footer"); %>