<%- include("head"); %>
    <%- include("styles_gral"); %>

        <div class="col-md-12" id="body_ent" name="body_ent" style="margin-top: 10px;">


            <div class="col-md-12">
                <div id="preview" name="preview">

                    <% const m=getMessages() %>

                        <% if (m.notify) { %>

                            <div class="card" style="margin-top: 20px;" id="card-success">
                                <div class="card-header text-white bg-success mb-3 container-fluid" id="btn-cerrar-ok">
                                    <strong>OK!</strong>
                                    <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                                </div>

                                <div class="card-body">

                                    <% m.notify.forEach((element)=> { %>

                                        <%= element %>
                                            <% }) %> %>
                                </div>


                            </div>

                            <% } %>
                                <% if (m.error) { %>

                                    <div class="card " style="margin-top: 20px;" id="card-err" name="card-err">
                                        <div class="card-header text-white bg-danger mb-3 container-fluid" id="btn-cerrar-err">
                                            <strong>Error!</strong>
                                            <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                        </div>

                                        <div class="card-body">

                                            <% m.error.forEach((element)=> { %>

                                                <%= element %>
                                                    <% }) %> %>
                                        </div>

                                    </div>

                                    <% } %>
                </div>

                <div>
                    <span class="titulo-tabla" style="font-weight: bold;text-align: left;">
                        <h2> Lineas de Acción</h2>
                    </span>
                </div>
                <p type="text" id="loading" value="" hidden>loading...</p>
                <div class="table-responsive">

                    <table class="table table-striped table-bordered" style="width:100%" id="tbl_planos">


                        <thead class="head-tabla-reg">
                            <tr>
                                <th>#</th>
                                <th>Plan General</th>
                                <th>Linea de Acción</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody id="developers">
                            <% for(var i=0; i<lista_lineas_accion.length; i++) { %>

                                <tr class="text-center">
                                    <td>
                                        <%= i+1 %>

                                    </td>
                                    <td>
                                        <%= lista_lineas_accion[i].plan_general %>
                                    </td>

                                    <td>
                                        <%= lista_lineas_accion[i].linea_accion %>
                                    </td>

                                    <td class="btns-acciones">
                                        <a href="" title="Editar" onclick="editar_linea('<%= lista_lineas_accion[i].id_linea %>')"><i class="fas fa-edit"></i></a>
                                        <a href="/eliminar-popup-linea-accion/<%= lista_lineas_accion[i].id_linea %>/control-mando-bips/?nombre_linea=<%= lista_lineas_accion[i].linea_accion %>" title="Eliminar" style="color: red;"><i class="far fa-trash-alt"></i></a>
                                    </td>

                                </tr>
                                <% }%>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                </div>
            </div>

        </div>

        <style>
            #tbl_planos {
                font-size: small;
                font-family: 'Montserrat', sans-serif;
                border-spacing: 0px !important;
                padding: 0px;
            }
            
            #tbl_planos th {
                padding: 7px;
            }
            
            #tbl_planos td {
                padding: 0;
            }
            
            .btns-acciones form .btn-submit {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
                font-weight: bold;
            }
            
            #btn-elim-all {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
            }
            
            .head-tabla-reg {
                background-color: #3f78da;
                color: #fff;
            }
            
            .titulo-tabla {
                color: #20488f;
            }
            
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
        </style>


        <script type="text/javascript">
            $(document).ready(function() {



                setTimeout(function() {
                    $('#preview').hide();
                }, 5000);


            });


            function editar_linea(id_linea) {

                event.preventDefault();

                //alert("ok desde lista plan general");

                const peticion = "/form-editar-ctm-linea-accion/?id_linea=" + id_linea;

                $.ajax({
                    type: 'post',
                    url: peticion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function(result) {

                        //history.replaceState("/form-editar-entidad", "Editar Entidad Bips", "/form-editar-entidad");
                        $('#preview').hide();
                        $('#body_ent').html(result);


                    }

                });

            }
        </script>