<%- include("head"); %>
    <%- include("styles_gral"); %>

        <div class="col-md-12" id="lista_archivos" name="lista_archivos">

            <% const m=getMessages() %>

                <% if (m.notify) { %>
                    <div class="container">
                        <div class="alert alert-success alert-dismissible fade in" id="alertas" style="margin-top: 20px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <% m.notify.forEach((element)=> { %>
                                <strong>OK!</strong>
                                <%= element %>
                                    <% }) %>; %>
                        </div>
                    </div>
                    <% } %>

                        <h2 class="titulo-tabla">Archivos planos a cargar</h2>
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" style="width:100%" id="tbl_planos" cellspacing="0">

                                <thead class="head-tabla-reg">
                                    <tr>
                                        <th>Nombre<br> plano</th>
                                        <th>Nombre<br> IPS</th>
                                        <th>Periodo cargado</th>
                                        <th>Extensión</th>
                                        <th>Fecha de carga</th>
                                        <th>Validado</th>
                                        <th>Acciones</th>

                                    </tr>
                                </thead>
                                <tbody id="developers">
                                    <% for(var i=0; i<arr_files.length; i++) { %>

                                        <tr>
                                            <td>
                                                <%= arr_files[i].nombre_original %>
                                            </td>
                                            <td>
                                                <strong>
                                        <%= arr_files[i].nombre_ips %>
                                        </strong>
                                            </td>
                                            <td>
                                                <p><span class="glyphicon glyphicon-time" style="color:cadetblue"></span>
                                                    <%= arr_files[i].periodo_cargado %>
                                                </p>

                                            </td>
                                            <td>
                                                <% if(arr_files[i].mimetypes == "text/plain"){ %>
                                                    <%= ".txt" %>
                                                        <% } %>
                                            </td>
                                            <td>

                                                <%= arr_files[i].fecha_carga %>
                                            </td>
                                            <td>
                                                <% if (!arr_files[i].validado) { %>
                                                    <div>
                                                        <p><span class="glyphicon glyphicon-remove-circle" style="color:red
                                                    "></span>
                                                            <%= "No" %>
                                                        </p>

                                                    </div>

                                                    <% } else { %>
                                                        <p><span class="glyphicon glyphicon-check" style="color:green"></span>
                                                            <%= "Si" %>
                                                        </p>

                                                        <% }  %>


                                            </td>
                                            <td class="btns-acciones">
                                                <div class="btn-group btn-group-sm">
                                                    <!--<form method="POST" action="/file/delete/<%= arr_files[i].nombre_tmp %>/archivo-bips/?id_ips=<%= arr_files[i].id_ips %>">-->
                                                    <form method="post" action="/eliminar-popup/<%= arr_files[i].nombre_original %>/archivo-bips/?id_ips=<%= arr_files[i].id_ips %>&nombre_tmp=<%= arr_files[i].nombre_tmp %>&nombre_ips=<%= arr_files[i].nombre_ips %>">
                                                        <button class="btn btn-submit btn-danger btn-sm" value="<%=arr_files[i].nombre_original %>">Eliminar
                                                    </button>
                                                    </form>

                                                    <form>
                                                        <button type="submit" class="btn btn-submit btn-success btn-sm">Validar
                                                </button>
                                                    </form>
                                                </div>

                                            </td>
                                        </tr>
                                        <% }%>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                        <div id="planos">

                        </div>



        </div>

        <style>
            .btns-acciones form .btn-submit {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
                width: 70px;
            }
            
            .head-tabla-reg {
                background-color: cadetblue;
                color: #fff;
            }
            
            .titulo-tabla {
                color: cadetblue;
            }
        </style>

        <script>
            $(document).ready(function() {
                $('#tbl_planos').DataTable({

                    "tableTools": {
                        "sRowSelect": "multi",
                        "aButtons": [{
                            "sExtends": "select_none",
                            "sButtonText": "Borrar selección"
                        }]
                    },
                    "pagingType": "simple_numbers",
                    //Actualizo las etiquetas de mi tabla para mostrarlas en español
                    "language": {
                        "search": "Buscar:",
                        "lengthMenu": "Mostrar _MENU_ registros por página.",
                        "zeroRecords": "No se encontró registro.",
                        "info": "  _START_ de _END_ (_TOTAL_ registros totales)",
                        "infoEmpty": "0 de 0 de 0 registros",
                        "infoFiltered": "(Encontrado de _MAX_registros)",
                        "processing": "Procesando la información",
                        "paginate": {
                            "first": " |< ",
                            "previous": "Ant.",
                            "next": "Sig.",
                            "last": " >| "
                        }
                    },
                });

                    setTimeout(function () {
                        $('#alertas').fadeOut('fast');
                    }, 5000);


                    $('#alertas').show();
                });
            </script>