<%- include("head"); %>
    <%- include("styles_gral"); %>
        <div class="col-md-12" id="lista_archivos" name="lista_archivos">
            <% const m=getMessages() %>

                <% if (m.notify) { %>
                    <div class="container">
                        <div class="alert alert-success alert-dismissible fade in" id="alertas">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <% m.notify.forEach((element)=> { %>
                                <strong>OK!</strong>
                                <%= element %>
                                    <% }) %>
                        </div>
                    </div>
                    <% } %>

                        <h2 style="color: grey;">Archivos planos a cargar</h2>

                        <table class="table table-striped table-bordered" style="width:100%" id="tbl_planos" cellspacing="0">
                            <thead style="color: rgb(76, 113, 214);">
                                <tr>
                                    <th>nombre del archivo</th>
                                    <th>nombre<br> IPS</th>
                                    <th>mimetype archivo</th>
                                    <th>Periodo cargado</th>
                                    <th>validado</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody id="developers">
                                <% for(var i=0; i<arr_files.length; i++) { %>

                                    <tr>
                                        <td>
                                            <%= arr_files[i].nombre_original %>
                                        </td>
                                        <td>
                                            <strong>
                                        <%= arr_files[i].nombre_ips %>
                                        </strong>
                                        </td>
                                        <td>
                                            <%= arr_files[i].mimetypes %>
                                        </td>
                                        <td>
                                            <p><span class="glyphicon glyphicon-time" style="color:cadetblue"></span>
                                                <%= arr_files[i].periodo_cargado %>
                                            </p>

                                        </td>
                                        <td>
                                            <% if (!arr_files[i].validado) { %>
                                                <div>
                                                    <p><span class="glyphicon glyphicon-remove-circle" style="color:red
                                                    "></span>
                                                        <%= "No" %>
                                                    </p>

                                                </div>

                                                <% } else { %>
                                                    <p><span class="glyphicon glyphicon-check" style="color:green"></span>
                                                        <%= "Si" %>
                                                    </p>

                                                    <% }  %>


                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <!--<form method="POST" action="/file/delete/<%= arr_files[i].nombre_tmp %>/archivo-bips/?id_ips=<%= arr_files[i].id_ips %>">-->
                                                <form method="get" action="/eliminar-popup">
                                                    <button type="submit" value="<%= arr_files[i].nombre_original %>">Eliminar
                                                </button>
                                                </form>

                                                <form>
                                                    <button type="submit" class="btn btn-success btn-sm">Validar
                                                </button>
                                                </form>
                                            </div>

                                        </td>
                                    </tr>
                                    <% }%>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                        <div id="planos">

                        </div>

        </div>

        <script>
            $(document).ready(function() {
                $('#tbl_planos').DataTable({
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sRowSelect": "multi",
                        "aButtons": [{
                            "sExtends": "select_none",
                            "sButtonText": "Borrar selección"
                        }]
                    },
                    "pagingType": "simple_numbers",
                    //Actualizo las etiquetas de mi tabla para mostrarlas en español
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página.",
                        "search": "Buscar: ",
                        "zeroRecords": "No se encontró registro.",
                        "info": "  _START_ de _END_ (_TOTAL_ registros totales)",
                        "infoEmpty": "0 de 0 de 0 registros",
                        "infoFiltered": "(Encontrado de _MAX_registros)",
                        "processing": "Procesando la información",
                        "paginate": {
                            "first": " |< ",
                            "previous": "Ant.",
                            "next": "Sig.",
                            "last": " >| "
                        }
                    }
                });

                setTimeout(function() {
                    $('#alertas').fadeOut('fast');
                }, 5000);


                $('#alertas').show();
            });
        </script>