<%- include("head"); %>
    <div class="col-md-12">



        <% const m=getMessages() %>

            <% if (m.notify) { %>
                <div class="container">
                    <div class="alert alert-success alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <% m.notify.forEach((element)=> { %>
                            <strong>OK!</strong>
                            <%= element %>
                                <% }) %>
                    </div>
                </div>
                <% } %>



                    <h1 style="color: grey;">Archivos planos a cargar</h1>

                    <table class="table table-bordered table-striped">
                        <thead style="color: rgb(76, 113, 214);">
                            <tr>
                                <th>nombre del archivo</th>
                                <th>extension</th>
                                <th>Periodo cargado</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<arr_files.length; i++) { %>

                                <tr>
                                    <td>
                                        <%= arr_files[i]['name'] %>
                                    </td>
                                    <td>
                                        <%= ".txt" %>
                                    </td>
                                    <td>
                                        <%= "01/01/2021 - 31/03/2021" %>
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            <form id="form_eliminacion" method="POST" action="/file/delete/<%= arr_files[i]['name'] %>/archivos-bips">
                                                <button type="submit" class="btn btn-danger btn-sm" id="btn-eliminar" name="btn-eliminar" value="<%= arr_files[i]['name'] %>">Eliminar
                                                </button>
                                            </form>

                                            <form>
                                                <button type="submit" class="btn btn-success btn-sm" id="btn-eliminar" name="btn-eliminar" value="<%= arr_files[i]['name'] %>">Cargar
                                                </button>
                                            </form>
                                        </div>

                                    </td>
                                </tr>
                                <% }%>
                        </tbody>
                    </table>

    </div>

    <script></script>