<%- include("head"); %>


    <div class="col-md-12" id="" name="" style="margin-top: 10px;">

        <div class="text-center">
            <span class="titulo-tabla" style="font-weight: bold;">
                <h2 style="justify-content: center; color: blue;"> Trazabilidad del registro de Indicador</h2>
            </span>
        </div>
        <div class="col-md-12" id="body_ent">

            <div class="table-responsive">

                <table class="table table-bordered" id="tbl_planos">


                    <thead class="">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Versión</th>
                            <th scope="col">Fecha Registro</th>
                            <!--<th scope="col">Profesional</th>-->
                            <th scope="col">Vigencia</th>
                            <th scope="col">Periodo</th>
                            <th scope="col">Calificado</th>
                            <th scope="col">Aprobado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="developers">
                        <% for(var i=0; i<lista_trazabilidad.length; i++) { %>

                            <tr class="text-justify sorting_1" style="font-size: 0.8em; line-height: 1.4em;">
                                <td>
                                    <%= i+1 %>

                                </td>
                                <td class="text-center">

                                    <%= lista_trazabilidad[i].version %>

                                </td>

                                <td>

                                    <%= lista_trazabilidad[i].fecharegistro %>

                                </td>

                                <td>
                                    <%= lista_trazabilidad[i].vigencia %>
                                </td>

                                <td>
                                    <%= lista_trazabilidad[i].periodoevaluado %> -
                                        <%= lista_trazabilidad[i].nombre_mes %>
                                </td>
                                <td>
                                    <%if(lista_trazabilidad[i].calificado){%>
                                        SI
                                        <%}else{%>
                                            NO
                                            <%}%>
                                </td>

                                <td>
                                    <%if(lista_trazabilidad[i].estado){%>
                                        <i class="fas fa-check-circle text-center" onclick="" style="color: green;"></i>SI
                                        <%}else{%>
                                            <i class="fas fa-minus-circle text-center" style="color: red;" onclick=""> </i> NO
                                            <%}%>
                                </td>

                                <td class="btns-acciones">
                                    --
                                </td>



                            </tr>
                            <% }%>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function() {

            });


            event.preventDefault();
        </script>



        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
            
            #tbl_planos {
                font-size: small;
                font-family: 'Montserrat', sans-serif;
                border-spacing: 0px !important;
                padding: 0px;
            }
            
            #tbl_planos th {
                padding: 7px;
            }
            
            #tbl_planos td {
                padding: 0;
            }
            
            .btns-acciones form .btn-submit {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
                font-weight: bold;
            }
            
            #btn-elim-all {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
            }
            
            .head-tabla-reg {
                background-color: #3f78da;
                color: #fff;
            }
            
            .titulo-tabla {
                color: #20488f;
            }
        </style>