<%- include("head"); %>


    <div class="col-md-12" id="" name="" style="margin-top: 10px;">


        <div class="col-md-12" id="body_ent">

            <div>
                <span class="titulo-tabla" style="font-weight: bold;text-align: left;">
                        <h2> Registros por Calificar</h2>
                    </span>
            </div>



            <div class="table-responsive">

                <table class="table table-hover" id="tbl_planos">


                    <thead class="">
                        <tr>
                            <th>#</th>
                            <th>Vigencia</th>
                            <th>Periodo</th>
                            <th>Indicador</th>
                            <th>Tipo meta</th>
                            <th>Area</th>
                            <th>Profesional</th>
                            <th>Fecha Registro</th>
                            <th>Versión</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="developers">
                        <% for(var i=0; i<lista_calificacion_indicadores.length; i++) { %>

                            <tr class="text-justify sorting_1" style="font-size: 0.8em; line-height: 1.4em;">
                                <td>
                                    <%= i+1 %>

                                </td>

                                <td>
                                    <%= lista_calificacion_indicadores[i].vigencia %>
                                </td>

                                <td>
                                    <%= lista_calificacion_indicadores[i].nombre_mes %>
                                </td>

                                <td>
                                    <%= lista_calificacion_indicadores[i].nombre_indicador %>
                                </td>
                                <td>
                                    <%= lista_calificacion_indicadores[i].tipo_meta %>
                                </td>

                                <td>
                                    <%= lista_calificacion_indicadores[i].nombre_area %>
                                </td>
                                <td>
                                    <%= lista_calificacion_indicadores[i].nombre_profesional %>
                                </td>
                                <td>
                                    <%= lista_calificacion_indicadores[i].fecharegistro%>
                                </td>
                                <td class="text-center" style="font-weight: bold;">
                                    <%= lista_calificacion_indicadores[i].version %>
                                </td>

                                <td class="btns-acciones">
                                    <a href="" title="Calificar"><i class="fas fa-edit" onclick="RealizarCalificacion('<%= lista_calificacion_indicadores[i].id_registroindicador %>')"></i></a>

                                </td>



                            </tr>
                            <% }%>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function() {

            });


            function RealizarCalificacion(id_reg_indicador) {
                event.preventDefault();
                const peticion = "/form-ctm-calificacion-reg-indicador/?id_reg_indicador=" + id_reg_indicador;
                $.ajax({
                    type: 'post',
                    url: peticion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(result) {
                        $('#body_ent').html(result);
                    }
                });
            }
        </script>



        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
            
            #tbl_planos {
                font-size: small;
                font-family: 'Montserrat', sans-serif;
                border-spacing: 0px !important;
                padding: 0px;
            }
            
            #tbl_planos th {
                padding: 7px;
            }
            
            #tbl_planos td {
                padding: 0;
            }
            
            .btns-acciones form .btn-submit {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
                font-weight: bold;
            }
            
            #btn-elim-all {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
            }
            
            .head-tabla-reg {
                background-color: #3f78da;
                color: #fff;
            }
            
            .titulo-tabla {
                color: #20488f;
            }
        </style>