<%- include("head"); %>
    <%- include("styles_gral"); %>


        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
            
            #tbl_planos {
                font-size: small;
                font-family: 'Montserrat', sans-serif;
                border-spacing: 0px !important;
                padding: 0px;
            }
            
            #tbl_planos th {
                padding: 7px;
            }
            
            #tbl_planos td {
                padding: 0;
            }
            
            .btns-acciones form .btn-submit {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
                font-weight: bold;
            }
            
            #btn-elim-all {
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                font-size: 10px;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
            }
            
            .head-tabla-reg {
                background-color: #3f78da;
                color: #fff;
            }
            
            .titulo-tabla {
                color: #20488f;
            }
            
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
        </style>


        <body id="body_ent" class="" style="margin-top: 0px;">

            <ul class="nav nav-pills" id="pills-tab" role="tablist" style="margin-left: 0px; padding-left: 0px; height: 10px;margin-bottom: 15px;">

                <li class="nav-item" role="presentation">
                    <div class="form-group" style="">

                        <button class="nav-link active btn btn-info" type="button" style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea" onclick="" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i
                                    class="fas fa-list"></i> Lista de Permisos</button>
                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <div class="form-group" style="">

                    </div>
                </li>

            </ul>
            <div class="dropdown-divider"></div>



            <div style="display: flex;justify-content: center;align-items: center;">


                <div class="col-md-9">

                    <div class="card container-fluid" id="panel_nuevo_plan">

                        <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                            <div class="card col-md-12" id="card-msg">


                                <div class="form-group row">
                                    <label class="col-1 col-form-label" for="select_plan" style="font-weight: bold;">Rol: </label>

                                    <div class="col-11">
                                        <select class="form-control" name="select_rol" id="select_rol" data-toggle="tooltip" title="Seleccionar plan General!" data-placement="right" required>
                                        <option selected="selected" value="0">Seleccionar Rol
                                        </option>

                                        <% lista_roles.forEach(lista=> { %>
                                            
                                                <option value="<%= lista.id_rol %>" name="<%= lista.nombre_rol %>">
                                                    <%= lista.nombre_rol %>
                                                </option>
                                            
                                            
                                            <% }); %>
                                        </select>
                                    </div>


                                </div>





                            </div>




                        </div>


                        <span class="titulo-tabla text-center" id="lbl-rol" hidden>
                            <h2> Permisos asignados a Rol: <label for="" id="txt-rol-permisos"> </label></h2>
                        </span>

                        <div class="table-responsive" id="tbl-permisos" hidden>


                        </div>
                    </div>
                </div>
            </div>
        </body>

        <script type="text/javascript">
            $(document).ready(function() {

                $('#select_rol').change(function() {


                    $('#tbl-permisos').attr('hidden', false);

                    //busqueda asicorna de permisos por ROL, renderiza tabla de permisos
                    var peticion = "/ctm-lista-permisos-rol/" + $(this).val();

                    $.ajax({

                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {

                            //select_linea

                            $("#txt-rol-permisos").html($("#select_rol option:selected").text());
                            $("#tbl-permisos").html(result);
                            $('#lbl-rol').attr('hidden', false);

                        }

                    });



                })
            });

            function activar_permiso(id_permiso) {
                var checkbox_activo = document.getElementById('is_active_' + id_permiso);
                var activo = false;

                var rol = $("#select_rol").val();

                if (checkbox_activo.checked) {

                    activo = true;

                    var peticion = "/persistir-permiso/?id_permiso=" + id_permiso + "&rol=" + rol;

                    $.ajax({
                        type: 'post',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {
                            if (result["status"] == 200) {
                                alert(result["msg"]);

                            } else {
                                alert(result["msg"]);

                            }

                        }

                    });
                    //insertar


                } else {
                    activo = false;

                    //eliminar
                    var peticion = "/eliminar-permiso/?id_permiso=" + id_permiso + "&rol=" + rol;

                    $.ajax({
                        type: 'post',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {
                            if (result["status"] == 200) {
                                alert(result["msg"]);

                            } else {
                                alert(result["msg"]);

                            }

                        }

                    });
                }


                //alert('id rol ' + $('#select_rol').val() + " permiso: " + id_permiso + " activo " + activo);


            };
        </script>