<%- include("test_header_new"); %>


    <style>
        body::-webkit-scrollbar {
            display: none;
            overflow-y: hidden;
        }
        
        .paginate_button {
            font-family: 'Montserrat', sans-serif;
            border-radius: 5px;
            font-size: 10px;
            border: none;
            cursor: pointer;
            transition: .3s ease all;
            font-weight: bold;
        }
    </style>

    <div id="panel_registro">
        <div class="container-fluid" id="lista_reg-planos" name="lista_reg-planos">

            <div style="margin-top: 5px; padding-top: 5px;">

                <div class="col-12">
                    <h1 sclass="titulo-tabla">Registros en Bodega de Datos</h1>

                    <table class="table table-bordered table-striped" id="tbl_registros">
                        <thead class="head-tabla-reg">
                            <tr>
                                <th>Codigo IPS</th>
                                <th>Nombre IPS</th>
                                <th>Fecha inicial</th>
                                <th>Fecha final</th>
                                <!--<th>Acciones</th>-->

                            </tr>
                        </thead>
                        <tbody>
                            <% registroplanos.forEach(registroplanos => { %>
                                <tr>
                                    <td>
                                        <%= registroplanos.ips %>
                                    </td>
                                    <td>
                                        <%= registroplanos.descripcion_ips %>
                                    </td>
                                    <td>
                                        <%= registroplanos.fecha_inicio.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= registroplanos.fecha_final.toLocaleDateString()  %>
                                    </td>
                                    <!--<td>


                                        <a href="#" class="btn btn-primary">
                        Eliminar
                    </a>
                                    </td>-->
                                </tr>
                                <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#tbl_registros').DataTable({

                //Actualizo las etiquetas de mi tabla para mostrarlas en español
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    //"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                }

            });


        });
    </script>

    <style>
        #tbl_registros {
            font-size: small;
            font-family: 'Montserrat', sans-serif;
            border-spacing: 0px !important;
            padding: 0px;
        }
        
        #tbl_registros th {
            padding: 7px;
        }
        
        #tbl_registros td {
            padding: 0;
        }
        
        .head-tabla-reg {
            background-color: #3f78da;
            color: #fff;
        }
        
        .titulo-tabla {
            color: #20488f;
        }
        
        .paginate_button {
            font-family: 'Montserrat', sans-serif;
            border-radius: 5px;
            font-size: 10px;
            border: none;
            cursor: pointer;
            transition: .3s ease all;
            font-weight: bold;
        }
    </style>



    <%- include("footer"); %>