<%- include("../../partials/calificacionIndicador/menucalificacion"); %>

<div id="listas">     
    <h1>Registros de Indicador Calificados</h1><small>Se encontraron <%= lista_calificacion_indicadores.length %> registro(s)</small>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">

                <div class="w-full overflow-x-auto" id="list-reg-indicadores">

                    <hr class="py-2" />
    
                    <table class="w-full whitespace-no-wrap" id="table-calificados">

                        
                        <thead class="">
                            <tr  class="text-center text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th>#</th>
                                <th>Vigencia</th>
                                <th>Periodo</th>
                                <th>Indicador</th>
                                <th>Tipo meta</th>
                                <th>Area</th>
                                <th>Profesional</th>
                                <th>Fecha Registro</th>
                                <th>Fecha Calificación</th>
                                <th>Versión</th>
                                <th>Aprobado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <% for(var i=0; i<lista_calificacion_indicadores.length; i++) { %>

                                <tr class="text-gray-700 dark:text-gray-400">
                                    <td class="px-4 py-3 text-sm">
                                        <%= i+1 %>

                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].vigencia %>
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_mes %>
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_indicador %>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].tipo_meta %>
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_area %>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_profesional %>
                                    </td>
                                    <td class=" text-center px-4 py-3 text-sm">                                        
                                        <%= lista_calificacion_indicadores[i].fecharegistro %>
                                    </td>

                                    <td class="text-center px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].fecha_calificacion %>
                                        
                                    </td>
                                    <td class="text-center px-4 py-3 text-sm">                                        
                                        <%= lista_calificacion_indicadores[i].version %>
                                    </td>
                                    <td class="text-center px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].estado %>
                                    </td>

                                    <td class="px-4 py-3">
                                        <div class="flex items-center space-x-4 text-sm">
            
                                            <!--<a href="" title="Calificar"><i class="fas fa-edit flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" onclick="RealizarCalificacion('<%= lista_calificacion_indicadores[i].id_registroindicador %>')"></i></a>-->
                                            <button href="" @click="openModalEdit('/edit-ctm-calificacion-reg-indicador/<%= lista_calificacion_indicadores[i].id_registroindicador %>')"
                                                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                aria-label="Calificación">
                                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                                    <path
                                            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                        </path>
                                                </svg>
                                            </button>
                                            
                                            
                                        </div>
                                    </td>



                                </tr>
                                <% }%>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>                            
 
                </div>
                <%- include("../../partials/pagination"); %>
        </div>

</div>   

<script>
    getPagination('#table-calificados');
</script>