<hr class="py-2" />
<h1>Registros de Indicador Pendientes de Calificación</h1><small>Se encontraron <%= lista_calificacion_indicadores.length %> registro(s)</small>
                    <table class="w-full whitespace-no-wrap" id="table-calificacion-indicador">
                        
                        <thead class="">
                            <tr  class="text-center text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th>#</th>
                                <th>Vigencia</th>
                                <th>Periodo</th>
                                <th>Indicador</th>
                                <th>Tipo meta</th>
                                <th>Area</th>
                                <th>Profesional</th>
                                <th>Fecha Registro</th>
                                <th>Versión</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <% for(var i=0; i<lista_calificacion_indicadores.length; i++) { %>

                                <tr class="text-gray-700 dark:text-gray-400">
                                    <td class="px-4 py-3 text-sm">
                                        <%= i+1 %>

                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].vigencia %>
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_mes %>
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_indicador %>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].tipo_meta %>
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_area %>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].nombre_profesional %>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].fecharegistro %>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <%= lista_calificacion_indicadores[i].version %>
                                    </td>

                                    <td class="px-4 py-3">
                                        <div class="flex items-center space-x-4 text-sm">
            
                                            <!--<a href="" title="Calificar"><i class="fas fa-edit flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" onclick="RealizarCalificacion('<%= lista_calificacion_indicadores[i].id_registroindicador %>')"></i></a>-->
                                            <button href="" @click="openModalNew('/form-ctm-calificacion-reg-indicador/<%= lista_calificacion_indicadores[i].id_registroindicador %>')"
                                                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                aria-label="Calificación">
                                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                                    <i class="fas fa-edit"></i>
                                                </svg>
                                            </button>
                                            
                                            
                                        </div>
                                    </td>



                                </tr>
                                <% }%>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>                            